Repository Site-Wise/app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, styling, testing, documentation, config, ci, dependencies, security, mobile, i18n, database, ui, auth, performance

.github/labeler.yml:

# Pull request labeler configuration
# See https://github.com/actions/labeler

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
      - 'src/**/*.ts'
      - 'src/**/*.js'
      - 'src/components/**/*'
      - 'src/views/**/*'
      - 'src/composables/**/*'

# Styling changes
styling:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.css'
      - 'tailwind.config.js'
      - 'postcss.config.js'

# Testing changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/test/**/*'
      - '**/*.test.ts'
      - '**/*.test.js'
      - 'vitest.config.ts'
      - 'src/test/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '.github/**/*.md'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.js'
      - '*.config.ts'
      - 'tsconfig*.json'
      - 'package.json'
      - 'package-lock.json'
      - '.env*'

# Build and CI changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'npm-shrinkwrap.json'

# Security related
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/workflows/security.yml'

# Mobile/PWA changes
mobile:
  - changed-files:
    - any-glob-to-any-file:
      - 'public/manifest.json'
      - 'public/sw.js'
      - 'src/composables/usePWA.ts'

# Internationalization
i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/locales/**/*'
      - 'src/composables/useI18n.ts'

# Database/Schema changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'pocketbase-schema.md'
      - 'pocketbase-api-rules.md'

# User Interface
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*'
      - 'src/views/**/*'

# Authentication
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/composables/useAuth.ts'
      - 'src/views/LoginView.vue'
      - 'src/router/index.ts'

# Performance
performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'vite.config.ts'
      - 'src/**/*.lazy.ts'

# Accessibility
accessibility:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
    - all-globs-to-all-files:
      - 'aria-*'
      - 'role='
      - 'tabindex'

Revert vite for 6.x due to pwa dependency
  package-lock.json
  package.json
Labels: config, dependencies

Removed CI for 18 as it has conflict, added translations
  .github/workflows/ci.yml
  src/locales/en.json
  src/locales/hi.json
  src/test/views/VendorDetailView.test.ts
  src/views/VendorDetailView.vue
Labels: frontend, testing, ci, i18n, ui

Mostly done!
  external_services/pocketbase/HOOKS_README.md
  external_services/pocketbase/pocketbase-schema.md
  external_services/pocketbase/subscription-hooks.pb.js
  external_services/pocketbase/utils.js
  public/manifest.json
  public/sw.js
  src/components/SearchBox.vue
  src/components/SubscriptionBanner.vue
  src/composables/useSubscription.ts
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/test/components/SubscriptionBanner.test.ts
  src/test/composables/useSubscription-default-plan.test.ts
  src/test/composables/useSubscription.test.ts
  src/test/mocks/pocketbase.ts
  src/test/utils/mock-composables.ts
  src/test/views/DeliveryView.test.ts
  src/test/views/ItemsView.test.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/test/views/ServiceBookingsView-dates.test.ts
  src/test/views/ServiceBookingsView-mobile.test.ts
  src/test/views/VendorReturnsView.test.ts
  src/test/views/VendorsView.test.ts
  src/views/DeliveryView.vue
  src/views/ItemsView.vue
  src/views/LoginView.vue
  src/views/PaymentsView.vue
  src/views/ServiceBookingsView.vue
  src/views/SubscriptionView.vue
  src/views/VendorReturnsView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, mobile, i18n, ui, auth

All fixed up!
  CLAUDE.md
  package.json
  src/test/integration/data-flow.test.ts
  src/test/views/DeliveryView.test.ts
  src/test/views/ItemsView-siteData.test.ts
  src/test/views/ItemsView.test.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/test/views/QuotationsView.test.ts
  src/test/views/ServiceBookingsView-dates.test.ts
  src/test/views/ServiceBookingsView-mobile.test.ts
  src/test/views/VendorDetailView.test.ts
  src/test/views/VendorReturnsView.test.ts
  src/test/views/VendorsView.test.ts
  src/views/AccountsView.vue
  src/views/DeliveryView.vue
  src/views/InvitesView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/UserManagementView.vue
  src/views/VendorReturnsView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, documentation, config, dependencies, ui

Included rewritten tests
  src/test/views/QuotationsView.test.ts
  src/test/views/VendorReturnsView.test.ts
Labels: frontend, testing

Fixed site selection issue
  src/stores/site.ts
  src/test/stores/site.test.ts
  src/views/SiteSelectionView.vue
Labels: frontend, testing, ui

Fixes for race conditions
  CLAUDE.md
  package.json
  src/composables/useSubscription.ts
  src/stores/site.ts
  src/test/stores/site.test.ts
  src/views/AccountsView.vue
  src/views/DeliveryView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/SiteSelectionView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, documentation, config, dependencies, ui

Basics are all fixed up!
  external_services/pocketbase/pocketbase-schema.md
  public/sw.js
  src/App.vue
  src/components/SiteSelector.vue
  src/composables/useAuth.ts
  src/composables/useInvitations.ts
  src/composables/useSiteData.ts
  src/composables/useSubscription.ts
  src/locales/en.json
  src/locales/hi.json
  src/stores/site.ts
  src/test/components/SiteSelector.test.ts
  src/test/components/SubscriptionBanner.test.ts
  src/test/composables/useSiteData.test.ts
  src/test/composables/useSubscription.test.ts
  src/test/mocks/pocketbase.ts
  src/test/utils/mock-composables.ts
  src/test/views/ItemsView.test.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/test/views/ServicesView.test.ts
  src/test/views/VendorReturnsView.test.ts
  src/views/AccountsView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/SiteSelectionView.vue
  src/views/SubscriptionView.vue
  src/views/VendorReturnsView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, mobile, i18n, ui, auth

Moved subscription to store
  src/composables/useSubscription.ts
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/stores/subscription.ts
  src/test/composables/useSubscription-default-plan.test.ts
  src/test/composables/useSubscription.test.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/views/PaymentsView.vue
Labels: frontend, testing, i18n, ui

Payment modal unified
  src/components/PaymentModal.vue
  src/components/SubscriptionBanner.vue
  src/composables/useSubscription.ts
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/stores/subscription.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/views/AccountsView.vue
  src/views/DeliveryView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/SubscriptionView.vue
  src/views/VendorReturnsView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, i18n, ui

Fixed tests and login t&c + policy
  .gitignore
  CLAUDE.md
  package-lock.json
  package.json
  scripts/convert-legal-docs.js
  src/assets/legal/index.d.ts
  src/components/LegalModal.vue
  src/composables/useAuth.ts
  src/composables/useSubscription.ts
  src/legal/privacy-policy.md
  src/legal/terms-and-conditions.md
  src/services/pocketbase.ts
  src/stores/subscription.ts
  src/test/components/SubscriptionBanner.test.ts
  src/test/composables/useAuth.test.ts
  src/test/composables/useSubscription-simple.test.ts
  src/test/composables/useSubscription.test.ts
  src/test/integration/site-management.test.ts
  src/test/views/AccountsView.test.ts
  src/test/views/ItemsView.test.ts
  src/test/views/LoginView.test.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/test/views/ServiceBookingsView-dates.test.ts
  src/test/views/ServicesView.test.ts
  src/test/views/VendorReturnsView.test.ts
  src/test/views/VendorsView.test.ts
  src/views/LoginView.vue
Labels: frontend, testing, documentation, config, dependencies, ui, auth

Router fix
  package.json
  public/sw.js
  src/composables/useSubscription.ts
  src/router/index.ts
  src/views/SubscriptionView.vue
Labels: frontend, config, dependencies, mobile, ui, auth

Major overhaul!
  external_services/pocketbase/create_user.pb.js
  external_services/pocketbase/invitation-hooks.pb.js
  external_services/pocketbase/items.json
  external_services/pocketbase/login.pb.js
  external_services/pocketbase/process_invitations_on_acceptance.pb.js
  external_services/pocketbase/site-management-hooks.pb.js
  external_services/pocketbase/utils.js
  src/components/AppLayout.vue
  src/components/PaymentModal.vue
  src/components/SiteSelector.vue
  src/composables/useSearch.ts
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/stores/site.ts
  src/views/PaymentsView.vue
Labels: frontend, i18n, ui

Bug fix, test to follow!
  src/components/PaymentModal.vue
  src/composables/useSubscription.ts
  src/locales/en.json
  src/locales/hi.json
  src/views/AccountsView.vue
  src/views/DeliveryView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/VendorReturnsView.vue
  src/views/VendorsView.vue
Labels: frontend, i18n, ui

Brilliance on the way!
  src/components/SubscriptionBanner.vue
  src/components/returns/RefundModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/test/components/SiteSelector.test.ts
  src/test/components/SubscriptionBanner.test.ts
  src/test/composables/useSite.test.ts
  src/test/mocks/pocketbase.ts
  src/test/services/pocketbase.test.ts
  src/test/stores/site.test.ts
Labels: frontend, testing, i18n, ui

Keyboard shortcuts!
  src/components/AppLayout.vue
  src/components/KeyboardShortcutTooltip.vue
  src/composables/useKeyboardShortcuts.ts
  src/views/PaymentsView.vue
Labels: frontend, ui

Included forgot password
  src/composables/useKeyboardShortcut.ts
  src/locales/en.json
  src/locales/hi.json
  src/router/index.ts
  src/test/components/SubscriptionBanner.test.ts
  src/test/integration/site-data-reactivity.test.ts
  src/views/AccountsView.vue
  src/views/ForgotPasswordView.vue
  src/views/ItemsView.vue
  src/views/LoginView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, i18n, ui, auth

All fixed up!
  .gitignore
  src/components/returns/RefundModal.vue
  src/composables/useSubscription.ts
  src/views/AccountsView.vue
Labels: frontend, ui

Nicely set up!
  src/locales/en.json
  src/locales/hi.json
  src/test/views/VendorDetailView.test.ts
  src/views/VendorDetailView.vue
Labels: frontend, testing, i18n, ui

Update schema, docs and rules
  USER_GUIDE.md
  external_services/pocketbase/pocketbase-api-rules.md
  external_services/pocketbase/pocketbase-schema.md
  src/components/KeyboardShortcutTooltip.vue
Labels: frontend, documentation, ui

Fixed site display
  src/stores/site.ts
  src/test/stores/site.test.ts
Labels: frontend, testing

Site deletion functional!
  src/components/SiteDeleteModal.vue
  src/components/SiteSelector.vue
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
Labels: frontend, i18n, ui

All fixed up!
  src/components/SiteDeleteModal.vue
  src/test/components/SiteSelector.test.ts
  src/test/composables/useSite.test.ts
  src/test/mocks/pocketbase.ts
  src/test/stores/site.test.ts
  src/test/utils/test-setup.ts
Labels: frontend, testing, ui

Aligned ledger functionality!
  src/test/views/AccountDetailView.test.ts
  src/views/AccountDetailView.vue
Labels: frontend, testing, ui

Improved credit note handling
  src/components/PaymentModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/test/views/VendorDetailView.test.ts
  src/views/VendorDetailView.vue
Labels: frontend, testing, i18n, ui

Better UI and UX
  src/components/CardDropdownMenu.vue
  src/test/views/ServiceBookingsView-mobile.test.ts
  src/views/AccountsView.vue
  src/views/DeliveryView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, ui

Fixed more things and improved security
  CLAUDE.md
  external_services/pocketbase/pocketbase-api-rules.md
  external_services/pocketbase/process_invitations_on_acceptance.pb.js
  pocketbase_rules.json
  src/services/pocketbase.ts
  src/test/integration/cross-site-access-prevention.test.ts
  src/views/ItemsView.vue
Labels: frontend, testing, documentation, ui

User management improvements
  external_services/pocketbase/process_invitations_on_acceptance.pb.js
  src/composables/useInvitations.ts
  src/locales/en.json
  src/locales/hi.json
  src/test/composables/useInvitations.test.ts
  src/test/integration/view-translation-coverage.test.ts
  src/views/UserManagementView.vue
Labels: frontend, testing, i18n, ui

Items unit updates
  external_services/pocketbase/items.json
  src/test/views/ItemsView.test.ts
  src/views/ItemsView.vue
Labels: frontend, testing, ui

Test and build fixes
  src/composables/useInvitations.ts
  src/views/UserManagementView.vue
Labels: frontend, ui

Fixed for ESC
  src/components/PaymentModal.vue
  src/components/SiteDeleteModal.vue
  src/components/returns/RefundModal.vue
  src/components/returns/ReturnDetailsModal.vue
  src/components/returns/SimpleReturnModal.vue
  src/composables/useModalEscape.ts
  src/test/composables/useModalEscape.test.ts
  src/views/AccountDetailView.vue
  src/views/PaymentsView.vue
  src/views/SiteSelectionView.vue
  src/views/VendorDetailView.vue
Labels: frontend, testing, ui

Fixed shortcuts display properly!
  package.json
  public/sw.js
  src/views/AccountsView.vue
  src/views/DeliveryView.vue
  src/views/ItemsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/VendorReturnsView.vue
  src/views/VendorsView.vue
Labels: frontend, config, dependencies, mobile, ui

Improve PWA and event listening
  .gitignore
  package-lock.json
  package.json
  public/manifest.json
  public/sw.js
  src/components/PWAPrompt.vue
  src/composables/usePWA.ts
  src/views/AccountDetailView.vue
  src/views/DeliveryView.vue
  src/views/ItemDetailView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/VendorDetailView.vue
  src/views/VendorsView.vue
  vite.config.ts
Labels: frontend, config, dependencies, mobile, ui, performance

Implemented tally integration
  package.json
  src/locales/en.json
  src/locales/hi.json
  src/test/utils/tallyXmlExport.test.ts
  src/utils/tallyXmlExport.ts
  src/views/VendorDetailView.vue
Labels: frontend, testing, config, dependencies, i18n, ui

Towards better coverage
  .gitignore
  src/test/composables/useSiteData.test.ts
  src/test/main.test.ts
  src/test/utils/tallyXmlExport.test.ts
  src/test/views/ProfileView.test.ts
  src/test/views/VendorDetailView.test.ts
Labels: frontend, testing

More test coverage
  external_services/pocketbase/services.json
  external_services/pocketbase/site-management-hooks.pb.js
  src/components/PaymentModal.vue
  src/components/SiteSelector.vue
  src/test/components/LegalModal.test.ts
  src/test/components/PaymentModal.test.ts
  src/test/components/PhotoGallery.test.ts
  src/test/composables/usePlatform.test.ts
  src/test/composables/useSiteData.test.ts
  src/test/views/VendorDetailView.test.ts
  src/views/UserManagementView.vue
Labels: frontend, testing, ui

Deliveries are all fixed up!
  package.json
  src/components/ImageSlider.vue
  src/components/delivery/DeliveryItemRow.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/test/components/ImageSlider.test.ts
  src/test/components/delivery/DeliveryItemRow.test.ts
  src/test/components/delivery/MultiItemDeliveryModal.test.ts
  src/test/views/DeliveryView.test.ts
  src/views/DeliveryView.vue
Labels: frontend, testing, config, dependencies, i18n, ui

Improvements to payments
  src/App.vue
  src/components/PWAUpdateNotification.vue
  src/components/PaymentModalEnhanced.vue
  src/components/TriStateCheckbox.vue
  src/composables/usePWAUpdate.ts
  src/composables/usePaymentPartials.ts
  src/locales/en.json
  src/locales/hi.json
  src/test/components/TriStateCheckbox.test.ts
  src/test/composables/usePaymentPartials.test.ts
Labels: frontend, testing, i18n, ui

Improvements to image accessibility and payments
  src/components/ImageSlider.vue
  src/components/PaymentModal.vue
  src/components/PaymentModalEnhanced.vue
  src/components/VendorSearchBox.vue
  src/components/returns/ReturnModal.vue
  src/components/returns/SimpleReturnModal.vue
  src/composables/usePWAUpdate.ts
  src/demo/VendorSearchDemo.vue
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/test/components/PaymentModal.editing.test.ts
  src/test/components/PaymentModal.partial-usage.test.ts
  src/test/components/PaymentModal.test.ts
  src/test/components/VendorSearchBox.test.ts
  src/test/components/VendorSearchBoxIntegration.test.ts
  src/test/mocks/pocketbase.ts
  src/test/services/deliveryItemService.siteIsolation.test.ts
  src/test/views/DeliveryView.test.ts
  src/views/DeliveryView.vue
Labels: frontend, testing, i18n, ui

Test fixes
  src/locales/en.json
  src/locales/hi.json
  src/test/components/PaymentModal.editing.test.ts
  src/test/components/PaymentModal.partial-usage.test.ts
  src/test/components/PaymentModal.test.ts
  src/test/components/VendorSearchBox.test.ts
  src/test/components/VendorSearchBoxIntegration.test.ts
  src/test/composables/usePlatform.test.ts
  src/test/services/deliveryItemService.siteIsolation.test.ts
  src/test/utils/tallyXmlExport.test.ts
  src/utils/tallyXmlExport.ts
  src/views/VendorDetailView.vue
Labels: frontend, testing, i18n, ui
