Repository Site-Wise/app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, styling, testing, documentation, config, ci, dependencies, security, mobile, i18n, database, ui, auth, performance

.github/labeler.yml:

# Pull request labeler configuration
# See https://github.com/actions/labeler

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
      - 'src/**/*.ts'
      - 'src/**/*.js'
      - 'src/components/**/*'
      - 'src/views/**/*'
      - 'src/composables/**/*'

# Styling changes
styling:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.css'
      - 'tailwind.config.js'
      - 'postcss.config.js'

# Testing changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/test/**/*'
      - '**/*.test.ts'
      - '**/*.test.js'
      - 'vitest.config.ts'
      - 'src/test/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '.github/**/*.md'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.js'
      - '*.config.ts'
      - 'tsconfig*.json'
      - 'package.json'
      - 'package-lock.json'
      - '.env*'

# Build and CI changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'npm-shrinkwrap.json'

# Security related
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/workflows/security.yml'

# Mobile/PWA changes
mobile:
  - changed-files:
    - any-glob-to-any-file:
      - 'public/manifest.json'
      - 'public/sw.js'
      - 'src/composables/usePWA.ts'

# Internationalization
i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/locales/**/*'
      - 'src/composables/useI18n.ts'

# Database/Schema changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'pocketbase-schema.md'
      - 'pocketbase-api-rules.md'

# User Interface
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*'
      - 'src/views/**/*'

# Authentication
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/composables/useAuth.ts'
      - 'src/views/LoginView.vue'
      - 'src/router/index.ts'

# Performance
performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'vite.config.ts'
      - 'src/**/*.lazy.ts'

# Accessibility
accessibility:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
    - all-globs-to-all-files:
      - 'aria-*'
      - 'role='
      - 'tabindex'

Add comprehensive Android multi-target deployment support
  CLAUDE.md
  docs/ANDROID_SETUP.md
  scripts/check-android-setup.sh
  src-tauri/tauri.conf.json
Labels: documentation

Update dependencies: @tauri-apps/api 2.10.1, vue 3.5.28, happy-dom 20.5.3, @tauri-apps/cli 2.10.0, @types/node 25.2.2, @vitejs/plugin-vue 6.0.4 (#180)
  package-lock.json
  package.json
Labels: config, dependencies

Add CI/CD Android build automation and fix security vulnerabilities
  .github/workflows/tauri-build.yml
  docs/ANDROID_SETUP.md
  docs/CI_ANDROID_SETUP.md
  package-lock.json
Labels: documentation, config, ci, dependencies

Redesign all mobile views for native app feel
  src/components/BottomNavBar.vue
  src/style.css
  src/views/AccountsView.vue
  src/views/DashboardView.vue
  src/views/DeliveryView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/VendorsView.vue
Labels: frontend, styling, ui

Test fixes
  index.html
  package-lock.json
  package.json
  scripts/seed-session.mjs
  scripts/shell-shot.mjs
  scripts/shoot.mjs
  src/components/AppLayout.vue
  src/composables/useCountUp.ts
  src/locales/en.json
  src/locales/hi.json
  src/test/components/AppLayout.test.ts
  src/test/components/LanguageSelector.test.ts
  src/test/components/PWAPrompt.test.ts
  src/test/components/PaymentModal.test.ts
  src/test/components/PhotoGallery.test.ts
  src/test/components/SiteSelector.test.ts
  src/test/components/TimeCalculatorModal.test.ts
  src/test/components/delivery/DeliveryItemRow.test.ts
  src/test/views/DashboardView.test.ts
  src/test/views/InvitesView.test.ts
  src/test/views/LoginView.test.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/test/views/ServiceBookingsView-mobile.test.ts
  src/test/views/VendorReturnsView.test.ts
  src/test/views/VendorsView.test.ts
  src/views/DashboardView.vue
Labels: frontend, testing, config, dependencies, i18n, ui

Towards automated documentation videos
  .gitignore
  e2e/README.md
  e2e/_env.mjs
  e2e/auth.setup.mjs
  e2e/record.mjs
  e2e/shoot.mjs
  package.json
Labels: config, dependencies

npm audit fix
  package-lock.json
Labels: config, dependencies

Huge improvements
  e2e/auth.setup.mjs
  package.json
  src/components/AppLayout.vue
  src/composables/useQuickActionModal.ts
  src/locales/en.json
  src/locales/hi.json
  src/style.css
  src/test/components/AppLayout.test.ts
  src/test/views/AccountsView.test.ts
  src/test/views/DashboardView.test.ts
  src/test/views/ServiceBookingsView-mobile.test.ts
  src/test/views/ServicesView.test.ts
  src/test/views/VendorsView.test.ts
  src/views/AccountsView.vue
  src/views/DashboardView.vue
  src/views/DeliveryView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/VendorReturnsView.vue
  src/views/VendorsView.vue
Labels: frontend, styling, testing, config, dependencies, i18n, ui

Better UIs
  src/components/AppLayout.vue
  src/components/BottomSheet.vue
  src/components/DuePaymentsModal.vue
  src/components/ItemCreateModal.vue
  src/components/LegalModal.vue
  src/components/PaymentModal.vue
  src/components/SiteDeleteModal.vue
  src/components/Skeleton.vue
  src/components/TimeCalculatorModal.vue
  src/components/TopProgressBar.vue
  src/components/delivery/DeliveryItemRow.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/components/returns/RefundModal.vue
  src/components/returns/ReturnDetailsModal.vue
  src/components/returns/ReturnModal.vue
  src/composables/useRouteProgress.ts
  src/locales/en.json
  src/locales/hi.json
  src/router/index.ts
  src/style.css
  src/test/components/PaymentModal.editing.test.ts
  src/test/components/delivery/DeliveryItemRow.test.ts
  src/test/components/delivery/MultiItemDeliveryModal.test.ts
  src/views/AccountsView.vue
  src/views/AnalyticsView.vue
  src/views/DeliveryView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/VendorsView.vue
Labels: frontend, styling, testing, i18n, ui, auth

More UI UX improvements
  src/components/ItemCreateModal.vue
  src/components/PaymentModal.vue
  src/components/PhotoGallery.vue
  src/components/ToastContainer.vue
  src/components/VendorSearchBox.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/components/returns/RefundModal.vue
  src/components/returns/ReturnModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/views/AccountsView.vue
  src/views/AnalyticsView.vue
  src/views/DashboardView.vue
  src/views/DeliveryView.vue
  src/views/ItemDetailView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/VendorReturnsView.vue
  src/views/VendorsView.vue
Labels: frontend, i18n, ui

Updated README
  README.md
Labels: documentation

Fixed dashboard and minor UI issues
  src/services/pocketbase.ts
  src/test/services/outstanding-amount-consistency.test.ts
  src/test/views/DashboardView.test.ts
  src/test/views/ItemsView.test.ts
  src/views/DashboardView.vue
  src/views/ItemsView.vue
  src/views/ServicesView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, ui

Fixes!
  src/components/ItemSelector.vue
  src/components/ServiceSearchBox.vue
  src/components/TagSelector.vue
  src/components/VendorOption.vue
  src/components/VendorSearchBox.vue
  src/components/returns/ReturnModal.vue
  src/composables/useInvitations.ts
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/test/components/VendorSearchBox.test.ts
  src/test/components/VendorSearchBoxIntegration.test.ts
  src/test/composables/useInvitations-roleresolution-safetynet.test.ts
  src/test/composables/useInvitations.test.ts
  src/test/views/DetailViews-membership-safetynet.test.ts
  src/test/views/FinancialFigures-safetynet.test.ts
  src/test/views/ItemDetailView.test.ts
  src/test/views/ItemsView-aggregation-safetynet.test.ts
  src/test/views/QuotationsView.test.ts
  src/test/views/ServicesView-bookingcount-safetynet.test.ts
  src/utils/dashboardStats.ts
  src/utils/detailViewSelectors.ts
  src/utils/itemAggregations.ts
  src/utils/serviceAggregations.ts
  src/views/DashboardView.vue
  src/views/ItemDetailView.vue
  src/views/ItemsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServiceDetailView.vue
  src/views/ServicesView.vue
  src/views/UserManagementView.vue
  src/views/VendorDetailView.vue
  src/views/VendorReturnsView.vue
Labels: frontend, testing, i18n, ui

UX papercuts: modal autofocus, Esc consistency, autocomplete, skeletons, tap targets
  src/components/ItemCreateModal.vue
  src/components/ItemSelector.vue
  src/components/PaymentModal.vue
  src/components/SiteDeleteModal.vue
  src/components/delivery/DeliveryItemRow.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/components/returns/RefundModal.vue
  src/components/returns/ReturnDetailsModal.vue
  src/components/returns/ReturnModal.vue
  src/test/views/AccountsView.test.ts
  src/views/AccountDetailView.vue
  src/views/AccountsView.vue
  src/views/AnalyticsView.vue
  src/views/ItemsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/SubscriptionView.vue
  src/views/ToolsView.vue
  src/views/UserManagementView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, ui

Shrink critical-path bundle: lazy i18n, charts, driver.js + manualChunks
  index.html
  src/components/LanguageSelector.vue
  src/components/charts/AnalyticsChart.vue
  src/components/charts/ChartLoadingPlaceholder.vue
  src/components/charts/DashboardLineChart.vue
  src/composables/useI18n.ts
  src/composables/useOnboarding.ts
  src/locales/index.ts
  src/main.ts
  src/test/composables/useI18n.test.ts
  src/test/composables/useOnboarding.test.ts
  src/test/integration/data-flow.test.ts
  src/test/integration/translation-consistency.test.ts
  src/test/main.test.ts
  src/test/setup.ts
  src/test/views/DashboardView.test.ts
  src/test/views/UserManagementView-logic.test.ts
  src/views/AnalyticsView.vue
  src/views/DashboardView.vue
  vite.config.ts
Labels: frontend, testing, config, i18n, ui, performance

PWA Phase 1: back button closes topmost modal + central scroll-lock
  src/components/AppLayout.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/components/returns/ReturnModal.vue
  src/composables/useBodyScrollLock.ts
  src/composables/useModalState.ts
  src/test/components/AppLayout.test.ts
  src/views/AccountsView.vue
  src/views/DeliveryView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/VendorDetailView.vue
  src/views/VendorReturnsView.vue
Labels: frontend, testing, ui

Infinite-loading Deliveries list (scroll-anchored, search unchanged)
  src/components/InfiniteScrollSentinel.vue
  src/composables/useInfiniteSiteData.ts
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/test/composables/useInfiniteSiteData.test.ts
  src/test/setup.ts
  src/test/views/DeliveryView.test.ts
  src/views/DeliveryView.vue
Labels: frontend, testing, i18n, ui

Fix Deliveries empty list: distinct requestKeys to avoid auto-cancellation
  package.json
  src/services/pocketbase.ts
  src/test/services/deliveryService.requestKey.test.ts
Labels: frontend, testing, config, dependencies

Fix Deliveries "view all images" to track the filtered list again
  src/views/DeliveryView.vue
Labels: frontend, ui

Deliveries: fixed-height desktop table with internal scroll + pinned header
  src/components/InfiniteScrollSentinel.vue
  src/views/DeliveryView.vue
Labels: frontend, ui

Deliveries: lighter payment-allocations query (drop heavy 3-level expand)
  src/services/pocketbase.ts
  src/views/DeliveryView.vue
Labels: frontend, ui

ServiceBookings: show booking notes in the main table
  src/views/ServiceBookingsView.vue
Labels: frontend, ui

Delivery modal: persist image previews across steps + guard premature create
  src/components/FileUploadComponent.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/test/components/delivery/MultiItemDeliveryModal.simple.test.ts
  src/test/components/delivery/MultiItemDeliveryModal.test.ts
Labels: frontend, testing, ui

ServiceBookings: service category inline with name (desktop table)
  src/views/ServiceBookingsView.vue
Labels: frontend, ui

Add useUrlFilters composable + RecordLink component (deep-link foundation)
  src/components/RecordLink.vue
  src/composables/useUrlFilters.ts
  src/test/components/RecordLink.test.ts
  src/test/composables/useUrlFilters.test.ts
Labels: frontend, testing, ui

Add relation-filtered query methods (deep-link foundation)
  src/services/pocketbase.ts
  src/test/services/relationFilters.test.ts
Labels: frontend, testing

Deep-link Phase 1: vendor filtering + clickable vendor on Deliveries
  src/locales/en.json
  src/locales/hi.json
  src/test/views/DeliveryView.test.ts
  src/views/DeliveryView.vue
  src/views/VendorDetailView.vue
Labels: frontend, testing, i18n, ui

Add generic common.filteredBy / common.filtered i18n keys
  src/locales/en.json
  src/locales/hi.json
Labels: i18n

Deep-link Phase 2: URL relation filtering + clickable refs across views
  src/test/views/PaymentsView.test.ts
  src/test/views/QuotationsView.test.ts
  src/test/views/ServiceBookingsView-dates.test.ts
  src/test/views/ServiceBookingsView-mobile.test.ts
  src/test/views/ServiceBookingsView.test.ts
  src/test/views/VendorReturnsView.test.ts
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/VendorReturnsView.vue
Labels: frontend, testing, ui

Detail pages: align vendor display + show items in vendor deliveries
  src/views/ItemDetailView.vue
  src/views/ServiceDetailView.vue
  src/views/VendorDetailView.vue
Labels: frontend, ui

Delivery view modal: make item names clickable to item detail
  src/views/DeliveryView.vue
Labels: frontend, ui

Remove redundant view/eye icon; row/card click opens details
  src/test/views/DeliveryView.test.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/test/views/QuotationsView.test.ts
  src/test/views/ServiceBookingsView-mobile.test.ts
  src/test/views/VendorReturnsView.test.ts
  src/views/DeliveryView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/VendorReturnsView.vue
Labels: frontend, testing, ui

Fix mobile card dropdown hidden behind next card (teleport to body)
  src/components/CardDropdownMenu.vue
Labels: frontend, ui

View modals: ESC closes without clicking inside first (document-level)
  src/views/DeliveryView.vue
  src/views/PaymentsView.vue
  src/views/ServiceBookingsView.vue
Labels: frontend, ui

PDF uploads: clear support hints, page limit, encrypted-PDF handling + unlock
  src/components/FileUploadComponent.vue
  src/locales/en.json
  src/locales/hi.json
  src/test/components/FileUploadComponent.test.ts
  src/test/utils/pdfToImage.test.ts
  src/utils/pdfToImage.ts
Labels: frontend, testing, i18n, ui

Consolidate status badge styling (remove conflicting local overrides)
  src/views/DeliveryView.vue
  src/views/VendorDetailView.vue
Labels: frontend, ui

Package updates
  .github/workflows/auto-update.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/tauri-build.yml
  package-lock.json
  package.json
Labels: config, ci, dependencies, security

Test fixes
  src/components/RecordLink.vue
  src/test/components/PhotoGallery.test.ts
  src/test/views/ServiceBookingsView-dates.test.ts
  src/test/views/ServiceBookingsView-mobile.test.ts
  src/test/views/ServiceBookingsView.test.ts
  src/views/DeliveryView.vue
  src/views/ServiceBookingsView.vue
Labels: frontend, testing, ui

Dashboard: align vendor display + make it clickable in Recent Transactions
  src/views/DashboardView.vue
Labels: frontend, ui

Fix ineffective dynamic imports (build warnings)
  src/components/FileUploadComponent.vue
  src/router/index.ts
  src/utils/onboardingTest.ts
Labels: frontend, ui, auth
