Repository Site-Wise/app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, styling, testing, documentation, config, ci, dependencies, security, mobile, i18n, database, ui, auth, performance

.github/labeler.yml:

# Pull request labeler configuration
# See https://github.com/actions/labeler

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
      - 'src/**/*.ts'
      - 'src/**/*.js'
      - 'src/components/**/*'
      - 'src/views/**/*'
      - 'src/composables/**/*'

# Styling changes
styling:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.css'
      - 'tailwind.config.js'
      - 'postcss.config.js'

# Testing changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/test/**/*'
      - '**/*.test.ts'
      - '**/*.test.js'
      - 'vitest.config.ts'
      - 'src/test/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '.github/**/*.md'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.js'
      - '*.config.ts'
      - 'tsconfig*.json'
      - 'package.json'
      - 'package-lock.json'
      - '.env*'

# Build and CI changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'npm-shrinkwrap.json'

# Security related
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/workflows/security.yml'

# Mobile/PWA changes
mobile:
  - changed-files:
    - any-glob-to-any-file:
      - 'public/manifest.json'
      - 'public/sw.js'
      - 'src/composables/usePWA.ts'

# Internationalization
i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/locales/**/*'
      - 'src/composables/useI18n.ts'

# Database/Schema changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'pocketbase-schema.md'
      - 'pocketbase-api-rules.md'

# User Interface
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*'
      - 'src/views/**/*'

# Authentication
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/composables/useAuth.ts'
      - 'src/views/LoginView.vue'
      - 'src/router/index.ts'

# Performance
performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'vite.config.ts'
      - 'src/**/*.lazy.ts'

# Accessibility
accessibility:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
    - all-globs-to-all-files:
      - 'aria-*'
      - 'role='
      - 'tabindex'

Improve complicated table view for incoming
  src/locales/en.json
  src/locales/hi.json
  src/test/views/IncomingView-mobile.test.ts
  src/views/IncomingView.vue
Labels: frontend, testing, i18n, ui

Implement better tables for other views
  CLAUDE_GUIDE.md
  src/locales/en.json
  src/locales/hi.json
  src/test/views/PaymentsView-mobile.test.ts
  src/test/views/ServiceBookingsView-mobile.test.ts
  src/views/PaymentsView.vue
  src/views/ServiceBookingsView.vue
Labels: frontend, testing, documentation, i18n, ui

Clean up documentation
  CLAUDE.md
  CLAUDE_GUIDE.md
  DOCUMENTATION.md
  DROPDOWN_CONSISTENCY.md
  INTEGRATION_SUCCESS.md
  TAURI_INTEGRATION.md
  TESTING_REFERENCE.md
  USER_GUIDE.md
  external_services/pocketbase/pocketbase-api-rules.md
  external_services/pocketbase/pocketbase-schema.md
  pocketbase-schema.md
  src-tauri/tauri.conf.json
Labels: documentation, database

Improve the create button alignment
  src/components/AppLayout.vue
  src/composables/useSearch.ts
  src/locales/en.json
  src/locales/hi.json
  src/views/AccountsView.vue
  src/views/IncomingView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/VendorsView.vue
Labels: frontend, i18n, ui

Testing and build fixed
  src/components/AppLayout.vue
  src/composables/useSearch.ts
  src/views/IncomingView.vue
Labels: frontend, ui

Added confirm password
  src/locales/en.json
  src/locales/hi.json
  src/views/LoginView.vue
Labels: frontend, i18n, ui, auth

Hooks fixed up!
  external_services/pocketbase/subscription-hooks.pb.js
  external_services/pocketbase/utils.js
Labels: none

Cleanup
  external_services/pocketbase/README.md
  external_services/pocketbase/pocketbase-hooks.pb.js
Labels: none

Hooks alignment
  external_services/pocketbase/HOOKS_README.md
  src/services/pocketbase.ts
Labels: frontend

Invitation management
  external_services/pocketbase/invitation-hooks.pb.js
  external_services/pocketbase/process_invitations_on_acceptance.pb.js
Labels: none

Remove unnecessary parts from Item
  CONTRIBUTING.md
  external_services/pocketbase/pocketbase-schema.md
  external_services/pocketbase/usage-calculation-hook.js
  external_services/pocketbase/utils.js
  src/services/pocketbase.ts
  src/test/integration/data-flow.test.ts
  src/test/mocks/pocketbase.ts
  src/test/services/pocketbase.test.ts
  src/test/views/ItemsView.test.ts
  src/views/ItemDetailView.vue
  src/views/ItemsView.vue
Labels: frontend, testing, documentation, ui

Started work on improving and including tag arrangement
  DEPRECATIONS.md
  src/components/TagSelector.vue
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/test/integration/data-flow.test.ts
  src/test/mocks/pocketbase.ts
  src/test/views/ItemsView.test.ts
  src/views/ItemsView.vue
Labels: frontend, testing, documentation, i18n, ui

Implemented units properly
  .gitignore
  src/locales/en.json
  src/locales/hi.json
  src/views/IncomingView.vue
  src/views/ItemDetailView.vue
  src/views/ItemsView.vue
  src/views/QuotationsView.vue
Labels: frontend, i18n, ui

Implemented tags properly for vendor
  src/locales/en.json
  src/locales/hi.json
  src/test/views/ServicesView.test.ts
  src/test/views/VendorsView-outstanding.test.ts
  src/test/views/VendorsView.test.ts
  src/views/ServicesView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, i18n, ui

Vendor views fixed up!
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/test/views/VendorsView.test.ts
  src/views/VendorDetailView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, i18n, ui

Fix TS errors
  src/components/TagSelector.vue
  src/views/ItemsView.vue
  src/views/VendorsView.vue
Labels: frontend, ui

Moving towards account transactions
  src/services/pocketbase.ts
  src/views/AccountDetailView.vue
  src/views/PaymentsView.vue
Labels: frontend, ui

Start work on refunds
  src/components/AppLayout.vue
  src/components/returns/RefundModal.vue
  src/components/returns/ReturnDetailsModal.vue
  src/components/returns/ReturnModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/router/index.ts
  src/services/pocketbase.ts
  src/views/VendorDetailView.vue
  src/views/VendorReturnsView.vue
Labels: frontend, i18n, ui, auth

Fixed all the tests!
  package.json
  src/test/composables/useSubscription.test.ts
  src/test/views/AccountsView.test.ts
  src/test/views/ItemsView.test.ts
  src/test/views/LoginView.test.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/test/views/PaymentsView-outstanding.test.ts
Labels: frontend, testing, config, dependencies

Credit note and simpler return process
  src/components/returns/SimpleReturnModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/views/IncomingView.vue
Labels: frontend, i18n, ui

Delivery implementation
  src/components/AppLayout.vue
  src/components/delivery/DeliveryItemRow.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/composables/useSearch.ts
  src/locales/en.json
  src/locales/hi.json
  src/router/index.ts
  src/services/pocketbase.ts
  src/test/mocks/pocketbase.ts
  src/test/views/DeliveryView.test.ts
  src/test/views/IncomingView-mobile.test.ts
  src/test/views/QuotationsView.test.ts
  src/test/views/ServiceBookingsView-mobile.test.ts
  src/views/DeliveryView.vue
  src/views/IncomingView.vue
Labels: frontend, testing, i18n, ui, auth

Improvements
  src/components/delivery/MultiItemDeliveryModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/views/AccountsView.vue
  src/views/DeliveryView.vue
  src/views/IncomingView.vue
  src/views/ItemsView.vue
  src/views/LoginView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/VendorsView.vue
Labels: frontend, i18n, ui, auth

Fixed issues and UX improvements
  CLAUDE.md
  src/App.vue
  src/composables/useSite.ts
  src/router/index.ts
  src/test/components/App.test.ts
  src/test/composables/useSiteInit.test.ts
Labels: frontend, testing, documentation, auth

Fixed up!
  package.json
  src/components/delivery/DeliveryItemRow.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/components/returns/ReturnModal.vue
  src/components/returns/SimpleReturnModal.vue
  src/test/composables/useSiteInit.test.ts
  src/views/IncomingView.vue
  src/views/PaymentsView.vue
  src/views/VendorReturnsView.vue
Labels: frontend, testing, config, dependencies, ui

Mega fix and cleanup!
  src/components/AppLayout.vue
  src/components/returns/ReturnDetailsModal.vue
  src/components/returns/ReturnModal.vue
  src/components/returns/SimpleReturnModal.vue
  src/composables/useSearch.ts
  src/router/index.ts
  src/services/pocketbase.ts
  src/test/integration/data-flow.test.ts
  src/test/mocks/pocketbase.ts
  src/test/views/DashboardView.test.ts
  src/test/views/IncomingView-mobile.test.ts
  src/test/views/ItemsView.test.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/test/views/PaymentsView-outstanding.test.ts
  src/test/views/VendorsView-outstanding.test.ts
  src/test/views/VendorsView.test.ts
  src/views/DashboardView.vue
  src/views/IncomingView.vue
  src/views/ItemDetailView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/VendorDetailView.vue
  src/views/VendorReturnsView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, ui, auth

Aligned routing for deliveries from incoming
  src/components/AppLayout.vue
  src/router/index.ts
  src/test/router/index.test.ts
Labels: frontend, testing, ui, auth

Cleanup debug messages
  src/composables/usePWA.ts
  src/composables/useSubscription.ts
  src/locales/en.json
  src/locales/hi.json
  src/router/index.ts
  src/services/pocketbase.ts
  src/views/AccountDetailView.vue
  src/views/AccountsView.vue
  src/views/DeliveryView.vue
  src/views/PaymentsView.vue
  src/views/SubscriptionView.vue
Labels: frontend, mobile, i18n, ui, auth

Mostly fixed up!
  CLAUDE.md
  package.json
  src/components/delivery/DeliveryItemRow.vue
  src/components/returns/ReturnModal.vue
  src/components/returns/SimpleReturnModal.vue
  src/test/components/delivery/DeliveryItemRow.test.ts
  src/test/components/delivery/MultiItemDeliveryModal.simple.test.ts
  src/test/components/delivery/MultiItemDeliveryModal.test.ts
  src/test/setup.ts
  src/test/views/ServiceBookingsView-dates.test.ts
  src/views/DeliveryView.vue
  src/views/PaymentsView.vue
  src/views/ServiceBookingsView.vue
  src/views/VendorReturnsView.vue
Labels: frontend, testing, documentation, config, dependencies, ui

Aligned translations and UX fixes
  src/components/PhotoGallery.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/components/returns/ReturnModal.vue
  src/components/returns/SimpleReturnModal.vue
  src/test/components/delivery/MultiItemDeliveryModal.test.ts
  src/views/DeliveryView.vue
  src/views/PaymentsView.vue
  src/views/ServiceBookingsView.vue
Labels: frontend, testing, ui

Return modal i18n
  src/components/returns/ReturnModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/views/VendorReturnsView.vue
Labels: frontend, i18n, ui

Fixed tests
  src/test/components/delivery/MultiItemDeliveryModal.test.ts
Labels: frontend, testing

Mostly fixed up
  src/components/delivery/MultiItemDeliveryModal.vue
  src/services/pocketbase.ts
  src/views/DashboardView.vue
  src/views/PaymentsView.vue
  src/views/ServicesView.vue
  src/views/VendorDetailView.vue
  src/views/VendorsView.vue
Labels: frontend, ui

Improve item return implementation
  src/services/pocketbase.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/views/DeliveryView.vue
  src/views/PaymentsView.vue
Labels: frontend, testing, ui

Add PDF funationality for ledger
  package-lock.json
  package.json
  src/locales/en.json
  src/locales/hi.json
  src/views/AccountDetailView.vue
  src/views/VendorDetailView.vue
Labels: frontend, config, dependencies, i18n, ui

Improvement in delivery
  package.json
  src/test/views/DeliveryView.test.ts
  src/views/DeliveryView.vue
Labels: frontend, testing, config, dependencies, ui

Bug fixes
  src/components/delivery/MultiItemDeliveryModal.vue
  src/composables/useSearch.ts
  src/composables/useSite.ts
  src/services/pocketbase.ts
  src/test/composables/useSite-protection.test.ts
  src/test/composables/useSite.test.ts
  src/test/integration/backend-loop-protection.test.ts
  src/test/services/backend-protection.test.ts
  src/test/views/DashboardView-debouncing.test.ts
  src/test/views/DeliveryView.test.ts
  src/views/DashboardView.vue
  src/views/DeliveryView.vue
Labels: frontend, testing, ui

Align delivery items better
  src/services/pocketbase.ts
Labels: frontend

Adjust bookings
  CLAUDE.md
  src/locales/en.json
  src/locales/hi.json
  src/views/ServiceBookingsView.vue
Labels: frontend, documentation, i18n, ui

Improve login handling
  src/App.vue
  src/test/views/LoginView.test.ts
  src/views/LoginView.vue
Labels: frontend, testing, ui, auth

Fix up issues and improve delivery
  package.json
  public/sw.js
  src/components/AppLayout.vue
  src/components/ItemSelector.vue
  src/components/delivery/DeliveryItemRow.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/test/components/delivery/DeliveryItemRow.test.ts
  src/test/components/delivery/MultiItemDeliveryModal.test.ts
  src/test/views/ItemsView.test.ts
  src/views/ItemsView.vue
  src/views/ServiceBookingsView.vue
Labels: frontend, testing, config, dependencies, mobile, i18n, ui
