Repository Site-Wise/app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, styling, testing, documentation, config, ci, dependencies, security, mobile, i18n, database, ui, auth, performance

Implement turnstile
  .env
  .env.example
  public/logo.png
  public/logo_old.png
  src/components/AppLayout.vue
  src/components/TurnstileWidget.vue
  src/composables/useAuth.ts
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/views/LoginView.vue
Labels: frontend, config, i18n, ui, auth

Improve login setup
  public/logo_old.png
  src/style.css
  src/views/LoginView.vue
Labels: frontend, styling, ui, auth

Clean out garbage
  public/browserconfig.xml
  public/manifest.json
  public/vite.svg
  src/views/LoginView.vue
Labels: frontend, mobile, ui, auth

Fix stuff and align
  package-lock.json
  package.json
  postcss.config.js
  src/style.css
Labels: styling, config, dependencies

Cloudflare alignment
  public/_headers
Labels: none

Allow CF turnstile
  public/_headers
Labels: none

Improve tests
  src/test/components/AppLayout.test.ts
  src/test/composables/useAuth.test.ts
  src/test/views/ItemsView.test.ts
  src/test/views/LoginView.test.ts
Labels: frontend, testing

More test fix
  src/test/views/ItemsView.test.ts
Labels: frontend, testing

Reverted to tailwindcss 3
  package-lock.json
  package.json
  postcss.config.js
  public/_headers
  src/style.css
Labels: styling, config, dependencies

Try more
  public/_headers
  src/style.css
Labels: styling

Fix stupidity
  package-lock.json
  package.json
  postcss.config.js
  public/_headers
  public/apple-touch-icon-180x180.png
  public/browserconfig.xml
  public/favicon.ico
  public/manifest.json
  public/maskable-icon-512x512.png
  public/pwa-192x192.png
  public/pwa-512x512.png
  public/pwa-64x64.png
  public/sw.js
  pwa-assets.config.js
  vite.config.ts
Labels: styling, config, dependencies, mobile, performance

Fixed tests
  TESTING_REFERENCE.md
  src/test/components/PWAPrompt.test.ts
  src/test/components/PhotoGallery.test.ts
  src/test/components/SiteSelector.test.ts
  src/test/components/SubscriptionBanner.test.ts
  src/test/integration/data-flow.test.ts
  src/test/views/AccountsView.test.ts
  src/test/views/QuotationsView.test.ts
  src/test/views/VendorsView.test.ts
Labels: frontend, testing, documentation

Subscription tests are not perfect but passing for now
  src/test/composables/useSubscription-default-plan.test.ts
  src/test/composables/useSubscription.test.ts
  src/test/integration/data-flow.test.ts
Labels: frontend, testing

Minor issue
  src/test/integration/data-flow.test.ts
Labels: frontend, testing

Minor alignments
  .github/workflows/ci.yml
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  SECURITY.md
  index.html
Labels: documentation, ci, security

Align quick create
  src/components/AppLayout.vue
  src/locales/en.json
Labels: frontend, i18n, ui

Fix tests for quick action behavior
  src/locales/en.json
  src/test/components/AppLayout.test.ts
  src/views/SubscriptionView.vue
Labels: frontend, testing, i18n, ui

Remove update of usage from frontend and razorpay work
  src/composables/useSubscription.ts
  src/locales/en.json
  src/test/components/SubscriptionBanner.test.ts
  src/test/composables/useSubscription.test.ts
  src/views/IncomingView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/SubscriptionView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, i18n, ui

Toast implementation
  src/App.vue
  src/components/ToastContainer.vue
  src/composables/useI18n.ts
  src/composables/useToast.ts
  src/test/composables/useI18n.test.ts
  src/test/composables/useToast.test.ts
  src/views/IncomingView.vue
  src/views/ItemsView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, i18n, ui

Toast implementation
  src/views/PaymentsView.vue
Labels: frontend, ui

Fix CI
  .github/workflows/security.yml
  package-lock.json
  package.json
Labels: config, ci, dependencies, security

3rd party service code
  external_services/pocketbase/pocketbase-hooks.js
  external_services/pocketbase/usage-calculation-hook.js
  external_services/razorpay/cf-worker-razorpay.js
Labels: none

Included coupon code and phone number support
  src/__tests__/user-profile.test.ts
  src/components/AppLayout.vue
  src/composables/useAuth.ts
  src/locales/en.json
  src/locales/hi.json
  src/router/index.ts
  src/services/pocketbase.ts
  src/views/LoginView.vue
  src/views/ProfileView.vue
Labels: frontend, testing, i18n, ui, auth

Align dropdown consistency
  DROPDOWN_CONSISTENCY.md
  src/components/AppLayout.vue
  src/components/ThemeToggle.vue
Labels: frontend, documentation, ui

Implement limits better with scope for unlimited
  external_services/pocketbase/pocketbase-hooks.js
  src/composables/useSubscription.ts
  src/locales/en.json
  src/locales/hi.json
  src/test/composables/useSubscription.test.ts
  src/views/SubscriptionView.vue
Labels: frontend, testing, i18n, ui

Fixed up testing and coverage
  .github/workflows/security.yml
  src/composables/useSubscription.ts
  src/test/composables/useAuth.test.ts
  src/test/composables/useSubscription.test.ts
  src/test/mocks/pocketbase.ts
  src/test/views/LoginView.test.ts
  src/test/views/VendorsView.test.ts
  vite.config.ts
  vitest.config.ts
Labels: frontend, testing, config, ci, security, performance

Fix build
  src/test/components/SubscriptionBanner.test.ts
Labels: frontend, testing

Fix create modal width
  src/views/AccountsView.vue
  src/views/IncomingView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/VendorsView.vue
Labels: frontend, ui

Missed width fix
  src/components/SiteSelector.vue
Labels: frontend, ui

Aligned better with pocketbase
  external_services/pocketbase/README.md
  external_services/pocketbase/pocketbase-hooks.pb.js
  package.json
  src/composables/useSubscription.ts
  src/services/pocketbase.ts
  src/test/components/SubscriptionBanner.test.ts
  src/test/composables/useSubscription.test.ts
  src/views/IncomingView.vue
  src/views/ItemsView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, config, dependencies, ui

On the way to getting all the pocketbase functions in
  external_services/pocketbase/create_user.pb.js
  external_services/pocketbase/login.pb.js
  external_services/pocketbase/pocketbase-hooks.pb.js
Labels: none

Improve invite handling
  external_services/pocketbase/create_user.pb.js
  external_services/pocketbase/pocketbase-hooks.pb.js
  external_services/pocketbase/process_invitations_on_acceptance.pb.js
  src/components/AppLayout.vue
  src/components/LanguageSelector.vue
  src/components/ThemeToggle.vue
  src/composables/useInvitations.ts
  src/locales/en.json
  src/locales/hi.json
  src/views/SiteSelectionView.vue
Labels: frontend, i18n, ui

Tauri integration
  .github/workflows/tauri-build.yml
  .gitignore
  INTEGRATION_SUCCESS.md
  TAURI_INTEGRATION.md
  external_services/pocketbase/process_invitations_on_acceptance.pb.js
  package-lock.json
  package.json
  scripts/dev-setup.sh
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/capabilities/default.json
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/icon.png
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/App.vue
  src/composables/useNativeNotifications.ts
  src/composables/usePlatform.ts
  src/test/composables/useNativeNotifications.test.ts
  src/test/composables/usePlatform.test.ts
  src/test/mocks/@tauri-apps/api/tauri.ts
  src/test/setup.ts
  src/test/utils/test-wrapper.ts
  src/types/tauri.d.ts
  src/vite-env.d.ts
  tsconfig.app.json
  vite.config.ts
  vitest.config.ts
Labels: frontend, testing, documentation, config, ci, dependencies, performance

Languages aligned properly
  src/locales/en.json
  src/locales/hi.json
  src/test/integration/translation-consistency.test.ts
Labels: frontend, testing, i18n

Logo changed to webp
  README.md
  public/logo.webp
  pwa-assets.config.js
  src/components/AppLayout.vue
  src/test/components/AppLayout.test.ts
  src/views/LoginView.vue
Labels: frontend, testing, documentation, config, ui, auth

Add guide for Claude so it can operate better
  CLAUDE_GUIDE.md
Labels: documentation

Implement file uploads better for app
  src/components/FileUploadComponent.vue
  src/components/PhotoGallery.vue
  src/locales/en.json
  src/locales/hi.json
  src/test/components/FileUploadComponent.simple.test.ts
  src/test/components/FileUploadComponent.test.ts
  src/views/IncomingView.vue
Labels: frontend, testing, i18n, ui

All fixed up!
  TESTING_REFERENCE.md
  src/test/components/FileUploadComponent.test.ts
Labels: frontend, testing, documentation

Accessibility improvements
  src/components/AppLayout.vue
  src/components/FileUploadComponent.vue
  src/components/LanguageSelector.vue
  src/components/PhotoGallery.vue
  src/components/SiteSelector.vue
  src/components/ThemeToggle.vue
  src/locales/en.json
  src/locales/hi.json
  src/test/components/LanguageSelector.test.ts
  src/views/LoginView.vue
Labels: frontend, testing, i18n, ui, auth

Built out deprecations scope
  DEPRECATIONS.md
  src/services/pocketbase.ts
Labels: frontend, documentation

.github/labeler.yml:

# Pull request labeler configuration
# See https://github.com/actions/labeler

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
      - 'src/**/*.ts'
      - 'src/**/*.js'
      - 'src/components/**/*'
      - 'src/views/**/*'
      - 'src/composables/**/*'

# Styling changes
styling:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.css'
      - 'tailwind.config.js'
      - 'postcss.config.js'

# Testing changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/test/**/*'
      - '**/*.test.ts'
      - '**/*.test.js'
      - 'vitest.config.ts'
      - 'src/test/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '.github/**/*.md'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.js'
      - '*.config.ts'
      - 'tsconfig*.json'
      - 'package.json'
      - 'package-lock.json'
      - '.env*'

# Build and CI changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'npm-shrinkwrap.json'

# Security related
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/workflows/security.yml'

# Mobile/PWA changes
mobile:
  - changed-files:
    - any-glob-to-any-file:
      - 'public/manifest.json'
      - 'public/sw.js'
      - 'src/composables/usePWA.ts'

# Internationalization
i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/locales/**/*'
      - 'src/composables/useI18n.ts'

# Database/Schema changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'pocketbase-schema.md'
      - 'pocketbase-api-rules.md'

# User Interface
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*'
      - 'src/views/**/*'

# Authentication
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/composables/useAuth.ts'
      - 'src/views/LoginView.vue'
      - 'src/router/index.ts'

# Performance
performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'vite.config.ts'
      - 'src/**/*.lazy.ts'

# Accessibility
accessibility:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
    - all-globs-to-all-files:
      - 'aria-*'
      - 'role='
      - 'tabindex'
