Repository Site-Wise/app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, styling, testing, documentation, config, ci, dependencies, security, mobile, i18n, database, ui, auth, performance

.github/labeler.yml:

# Pull request labeler configuration
# See https://github.com/actions/labeler

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
      - 'src/**/*.ts'
      - 'src/**/*.js'
      - 'src/components/**/*'
      - 'src/views/**/*'
      - 'src/composables/**/*'

# Styling changes
styling:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.css'
      - 'tailwind.config.js'
      - 'postcss.config.js'

# Testing changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/test/**/*'
      - '**/*.test.ts'
      - '**/*.test.js'
      - 'vitest.config.ts'
      - 'src/test/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '.github/**/*.md'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.js'
      - '*.config.ts'
      - 'tsconfig*.json'
      - 'package.json'
      - 'package-lock.json'
      - '.env*'

# Build and CI changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'npm-shrinkwrap.json'

# Security related
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/workflows/security.yml'

# Mobile/PWA changes
mobile:
  - changed-files:
    - any-glob-to-any-file:
      - 'public/manifest.json'
      - 'public/sw.js'
      - 'src/composables/usePWA.ts'

# Internationalization
i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/locales/**/*'
      - 'src/composables/useI18n.ts'

# Database/Schema changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'pocketbase-schema.md'
      - 'pocketbase-api-rules.md'

# User Interface
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*'
      - 'src/views/**/*'

# Authentication
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/composables/useAuth.ts'
      - 'src/views/LoginView.vue'
      - 'src/router/index.ts'

# Performance
performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'vite.config.ts'
      - 'src/**/*.lazy.ts'

# Accessibility
accessibility:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
    - all-globs-to-all-files:
      - 'aria-*'
      - 'role='
      - 'tabindex'

Potential fix for code scanning alert no. 10066: Useless conditional
  src/test/composables/usePWA-comprehensive.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 10064: Unused variable, import, function or class
  src/test/services/pocketbase-services-comprehensive.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 10062: Unused variable, import, function or class
  src/test/composables/useOnboarding-comprehensive.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 10061: Unused variable, import, function or class
  src/test/composables/useNativeNotifications.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 10065: Useless comparison test
  src/test/utils/pdfToImage-comprehensive.test.ts
Labels: frontend, testing

Improve test coverage for all services (#112)
  src/assets/legal/index.ts
  src/test/composables/useNativeNotifications.test.ts
  src/test/composables/useOnboarding-comprehensive.test.ts
  src/test/composables/usePWA-comprehensive.test.ts
  src/test/composables/useSite-comprehensive.test.ts
  src/test/services/pocketbase-services-comprehensive.test.ts
  src/test/utils/onboardingTest-comprehensive.test.ts
  src/test/utils/pdfToImage-comprehensive.test.ts
Labels: frontend, testing

Fix for price updates when item is changed
  src/components/delivery/DeliveryItemRow.vue
  src/test/components/delivery/DeliveryItemRow-lastPrice.test.ts
Labels: frontend, testing, ui

Closes #126
  src/components/delivery/MultiItemDeliveryModal.vue
Labels: frontend, ui

Closes #125
  src/components/delivery/MultiItemDeliveryModal.vue
  src/services/pocketbase.ts
Labels: frontend, ui

Add last price placeholder to delivery modal (#110)
  src/components/ItemSelector.vue
  src/components/delivery/DeliveryItemRow.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/services/pocketbase.ts
  src/test/components/ItemSelector-clearBug.test.ts
  src/test/components/delivery/DeliveryItemRow-lastPrice.test.ts
Labels: frontend, testing, ui

Replace vendor dropdown with searchbox in return modal (#120)
  src/components/returns/ReturnModal.vue
  src/test/components/returns/ReturnModal.test.ts
Labels: frontend, testing, ui

Fix incomplete payment allocation bug (#102)
  src/services/pocketbase.ts
  src/test/services/pocketbase-payment-logic.test.ts
  src/views/PaymentsView.vue
Labels: frontend, testing, ui

Fix keyboard shortcut tooltip offset when page is scrolled (#124)
  src/components/KeyboardShortcutTooltip.vue
Labels: frontend, ui

Add last price placeholder to delivery modal (#110)
  src/components/ItemSelector.vue
  src/components/delivery/DeliveryItemRow.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/services/pocketbase.ts
  src/test/components/ItemSelector-clearBug.test.ts
  src/test/components/delivery/DeliveryItemRow-lastPrice.test.ts
Labels: frontend, testing, ui

Improve test coverage for all services (#112)
  src/assets/legal/index.ts
  src/test/composables/useNativeNotifications.test.ts
  src/test/composables/useOnboarding-comprehensive.test.ts
  src/test/composables/usePWA-comprehensive.test.ts
  src/test/composables/useSite-comprehensive.test.ts
  src/test/services/pocketbase-services-comprehensive.test.ts
  src/test/utils/onboardingTest-comprehensive.test.ts
  src/test/utils/pdfToImage-comprehensive.test.ts
Labels: frontend, testing

Add password visibility toggle to login forms (#135)
  LICENSE
  package-lock.json
  package.json
  src/components/PhotoGallery.vue
  src/components/TimeCalculatorModal.vue
  src/services/pocketbase.ts
  src/test/components/FileUploadComponent.simple.test.ts
  src/test/components/FileUploadComponent.test.ts
  src/test/composables/usePlatform.test.ts
  src/test/composables/useSiteData.test.ts
  src/test/composables/useSubscription-razorpay.test.ts
  src/test/integration/cross-site-access-prevention.test.ts
  src/test/services/pocketbase-helpers.test.ts
  src/test/services/pocketbase.test.ts
  src/test/setup.ts
  src/test/views/AccountDetailView.test.ts
  src/test/views/ServiceDetailView.test.ts
  src/test/views/UserManagementView-logic.test.ts
  src/views/LoginView.vue
  src/views/ServiceBookingsView.vue
Labels: frontend, testing, config, dependencies, ui, auth

Package updates
  .github/workflows/auto-update.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/tauri-build.yml
  package-lock.json
  package.json
Labels: config, ci, dependencies, security

Move due payments to modal popup (#138)
  src/components/DuePaymentsModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/views/PaymentsView.vue
Labels: frontend, i18n, ui

Replace service select with searchable dropdown in booking modal (#119)
  src/components/ServiceSearchBox.vue
  src/locales/en.json
  src/locales/hi.json
  src/views/ServiceBookingsView.vue
Labels: frontend, i18n, ui

Fix PDF to image conversion error (#104)
  public/assets/pdf.worker.min.mjs
  src/components/FileUploadComponent.vue
  src/test/components/FileUploadComponent.simple.test.ts
  src/test/utils/pdfToImage.test.ts
  src/test/views/UserManagementView-logic.test.ts
  src/utils/pdfToImage.ts
Labels: frontend, testing, ui

Add sorting functionality to Payments page (#109)
  src/services/pocketbase.ts
  src/views/PaymentsView.vue
Labels: frontend, ui

All fixed up!
  src/components/AppLayout.vue
  src/components/BottomSheet.vue
  src/components/FileUploadComponent.vue
  src/components/ImageSlider.vue
  src/components/ItemCreateModal.vue
  src/components/LegalModal.vue
  src/components/PaymentModal.vue
  src/components/PhotoGallery.vue
  src/components/SiteDeleteModal.vue
  src/components/SiteSelector.vue
  src/components/TimeCalculatorModal.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/components/returns/RefundModal.vue
  src/components/returns/ReturnDetailsModal.vue
  src/components/returns/ReturnModal.vue
  src/composables/usePullToRefresh.ts
  src/services/pocketbase.ts
  src/style.css
  src/views/AccountDetailView.vue
  src/views/AccountsView.vue
  src/views/DeliveryView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/SiteSelectionView.vue
  src/views/SubscriptionView.vue
  src/views/UserManagementView.vue
  src/views/VendorsView.vue
Labels: frontend, styling, ui

Fix progress
  src/components/delivery/MultiItemDeliveryModal.vue
Labels: frontend, ui

Small fixes
  src/components/delivery/MultiItemDeliveryModal.vue
  src/locales/en.json
  src/locales/hi.json
Labels: frontend, i18n, ui

Awesome mobile experience!
  src/components/delivery/DeliveryItemRow.vue
  src/components/delivery/MultiItemDeliveryModal.vue
Labels: frontend, ui

Improve mobile responsiveness across all screens (#136)
  package-lock.json
  src/components/AppLayout.vue
  src/components/BottomNavBar.vue
  src/components/BottomSheet.vue
  src/components/CardDropdownMenu.vue
  src/components/FileUploadComponent.vue
  src/components/ImageSlider.vue
  src/components/ItemCreateModal.vue
  src/components/LegalModal.vue
  src/components/PaymentModal.vue
  src/components/PhotoGallery.vue
  src/components/PullToRefresh.vue
  src/components/SearchBox.vue
  src/components/SiteDeleteModal.vue
  src/components/SiteSelector.vue
  src/components/TimeCalculatorModal.vue
  src/components/delivery/DeliveryItemRow.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/components/returns/RefundModal.vue
  src/components/returns/ReturnDetailsModal.vue
  src/components/returns/ReturnModal.vue
  src/composables/usePullToRefresh.ts
  src/locales/en.json
  src/locales/hi.json
  src/style.css
  src/views/AccountDetailView.vue
  src/views/AccountsView.vue
  src/views/DashboardView.vue
  src/views/DeliveryView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/SiteSelectionView.vue
  src/views/SubscriptionView.vue
  src/views/UserManagementView.vue
  src/views/VendorsView.vue
  tailwind.config.js
Labels: frontend, styling, config, dependencies, i18n, ui

Fix typo
  src/views/PaymentsView.vue
Labels: frontend, ui

Test and build fixed!
  README.md
  package.json
  src/components/AppLayout.vue
  src/components/SiteSelector.vue
  src/components/returns/ReturnModal.vue
  src/test/components/AppLayout.test.ts
  src/test/components/PhotoGallery.test.ts
  src/test/components/SiteSelector.test.ts
  src/test/components/delivery/MultiItemDeliveryModal.test.ts
  src/test/composables/usePlatform.test.ts
  src/test/services/pocketbase-services-comprehensive.test.ts
  src/test/views/DashboardView.test.ts
  src/test/views/InvitesView.test.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/test/views/ServiceBookingsView-dates.test.ts
  src/test/views/ServicesView.test.ts
  src/test/views/UserManagementView-logic.test.ts
  src/test/views/VendorReturnsView.test.ts
  src/views/DeliveryView.vue
  src/views/InvitesView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/SubscriptionView.vue
  src/views/UserManagementView.vue
  vitest.config.ts
Labels: frontend, testing, documentation, config, dependencies, ui

Fix pipeline (#140)
  README.md
  package.json
  src/components/AppLayout.vue
  src/components/SiteSelector.vue
  src/components/returns/ReturnModal.vue
  src/test/components/AppLayout.test.ts
  src/test/components/PhotoGallery.test.ts
  src/test/components/SiteSelector.test.ts
  src/test/components/delivery/MultiItemDeliveryModal.test.ts
  src/test/composables/usePlatform.test.ts
  src/test/services/pocketbase-services-comprehensive.test.ts
  src/test/views/DashboardView.test.ts
  src/test/views/InvitesView.test.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/test/views/ServiceBookingsView-dates.test.ts
  src/test/views/ServicesView.test.ts
  src/test/views/UserManagementView-logic.test.ts
  src/test/views/VendorReturnsView.test.ts
  src/views/DeliveryView.vue
  src/views/InvitesView.vue
  src/views/PaymentsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/SubscriptionView.vue
  src/views/UserManagementView.vue
  vitest.config.ts
Labels: frontend, testing, documentation, config, dependencies, ui

Fix update notifications
  package.json
  src/App.vue
  src/components/AppLayout.vue
  src/components/PWAPrompt.vue
  src/views/ItemsView.vue
  src/views/VendorsView.vue
  vite.config.ts
Labels: frontend, config, dependencies, ui, performance

Fix update notifications (#141)
  package.json
  src/App.vue
  src/components/AppLayout.vue
  src/components/PWAPrompt.vue
  src/views/ItemsView.vue
  src/views/VendorsView.vue
  vite.config.ts
Labels: frontend, config, dependencies, ui, performance

Improve testing
  src/test/components/AppLayout.test.ts
  src/test/components/ItemSelector-logic.test.ts
  src/test/components/PWAPrompt.test.ts
  src/test/composables/useKeyboardShortcut-comprehensive.test.ts
  src/test/composables/usePullToRefresh.test.ts
  src/test/composables/useSite-logic.test.ts
  src/test/services/pocketbase-all-services.test.ts
  src/test/services/pocketbase-core.test.ts
  src/test/services/pocketbase-direct-functions.test.ts
  src/test/services/pocketbase-services.test.ts
  src/test/views/DeliveryView-logic.test.ts
  src/test/views/PaymentsView-logic.test.ts
Labels: frontend, testing

Add LoadingOverlay to all modals for async operation feedback (#123)
  src/components/ItemCreateModal.vue
  src/components/PaymentModal.vue
  src/components/SiteDeleteModal.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/components/returns/RefundModal.vue
  src/components/returns/ReturnModal.vue
  src/views/AccountsView.vue
  src/views/ItemsView.vue
  src/views/ServicesView.vue
  src/views/VendorsView.vue
Labels: frontend, ui

Add payment-account reconciliation system
  external_services/pocketbase/HOOKS_README.md
  external_services/pocketbase/RECONCILIATION_SETUP.md
  external_services/pocketbase/payment-reconciliation.pb.js
  external_services/pocketbase/reconciliation-collections-schema.json
Labels: none

Add comprehensive tag-based analytics feature
  ANALYTICS_BACKEND_REQUIREMENTS.md
  src/components/AppLayout.vue
  src/composables/useAnalytics.ts
  src/locales/en.json
  src/locales/hi.json
  src/router/index.ts
  src/services/pocketbase.ts
  src/test/composables/useAnalytics.test.ts
  src/views/AnalyticsView.vue
Labels: frontend, testing, documentation, i18n, ui, auth

Add quantity by unit aggregation to analytics
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/test/composables/useAnalytics.test.ts
  src/views/AnalyticsView.vue
Labels: frontend, testing, i18n, ui

Improve mobile alignment and spacing consistency in Analytics
  src/views/AnalyticsView.vue
Labels: frontend, ui

Fix numbering rounding
  src/services/deliveryUtils.ts
  src/services/pocketbase.ts
  src/test/services/deliveryUtils.test.ts
  src/test/services/pocketbase-delivery-logic.test.ts
  src/test/utils/numbers.test.ts
  src/utils/numbers.ts
Labels: frontend, testing

Add Analytics to mobile bottom navigation menu
  src/components/BottomNavBar.vue
Labels: frontend, ui

Improve date and currency formatting in analytics charts
  src/views/AnalyticsView.vue
Labels: frontend, ui
