Repository Site-Wise/app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, styling, testing, documentation, config, ci, dependencies, security, mobile, i18n, database, ui, auth, performance

Service Bookings: page-level "View all images" matching Deliveries
  src/views/ServiceBookingsView.vue
Labels: frontend, ui

Fix flaky CI: disable happy-dom navigation in tests (ECONNREFUSED)
  vitest.config.ts
Labels: testing, config

Test: Service Bookings "View all images" gallery (11 cases)
  src/test/views/ServiceBookingsView.test.ts
Labels: frontend, testing

Fix last ineffective dynamic import: static-import site store in useAuth
  src/composables/useAuth.ts
Labels: frontend, auth

Align package json
  package-lock.json
Labels: config, dependencies

Sync package-lock with npm 10.9.2 (fix deployment npm ci)
  package-lock.json
Labels: config, dependencies

Table-sort foundation: useTableSort composable + server-sort param
  src/composables/useTableSort.ts
  src/services/pocketbase.ts
  src/test/composables/useTableSort.test.ts
  src/test/services/deliveryService.requestKey.test.ts
  src/test/services/relationFilters.test.ts
Labels: frontend, testing

Dashboard: Recent Transactions rows clickable to their record's category
  src/test/views/DashboardView.test.ts
  src/views/DashboardView.vue
Labels: frontend, testing, ui

README: use new sitewise-mark.svg logo (was old logo.webp)
  README.md
Labels: documentation

Add SortableTh: shared sortable table-header component
  src/components/SortableTh.vue
  src/test/components/SortableTh.test.ts
Labels: frontend, testing, ui

Add column sorting to the table views (SortableTh + useTableSort)
  src/test/views/DeliveryView.test.ts
  src/test/views/PaymentsView-logic.test.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/test/views/QuotationsView.test.ts
  src/test/views/ServiceBookingsView-mobile.test.ts
  src/test/views/ServiceBookingsView.test.ts
  src/test/views/VendorReturnsView.test.ts
  src/views/DeliveryView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/VendorReturnsView.vue
Labels: frontend, testing, ui

Test stability: clear modal focus timers on unmount; de-flake async asserts
  src/components/delivery/MultiItemDeliveryModal.vue
  src/test/views/ProfileView.test.ts
Labels: frontend, testing, ui

Deep-link ?id auto-open on Deliveries & ServiceBookings
  src/test/views/DeliveryView.test.ts
  src/test/views/ServiceBookingsView.test.ts
  src/views/DeliveryView.vue
  src/views/ServiceBookingsView.vue
Labels: frontend, testing, ui

Raise coverage on modified components/composables (intent-based tests)
  src/test/components/DuePaymentsModal.test.ts
  src/test/components/FileUploadComponent.test.ts
  src/test/components/InfiniteScrollSentinel.test.ts
  src/test/components/ItemCreateModal.test.ts
  src/test/components/SiteDeleteModal.test.ts
  src/test/components/TopProgressBar.test.ts
  src/test/components/returns/RefundModal.test.ts
  src/test/components/returns/ReturnDetailsModal.test.ts
  src/test/components/returns/ReturnModal.test.ts
  src/test/composables/useCountUp.test.ts
Labels: frontend, testing

Coverage follow-up: reverse the biggest regressions
  src/test/components/CardDropdownMenu.test.ts
  src/test/components/PhotoGallery.test.ts
  src/test/components/ToastContainer.test.ts
  src/test/composables/useModalState.test.ts
Labels: frontend, testing

Add Dockerized PocketBase backend with standard + ONCE builds
  Dockerfile
  README.md
  docs/SELF_HOSTING.md
  external_services/pocketbase/.dockerignore
  external_services/pocketbase/Dockerfile
  external_services/pocketbase/Dockerfile.once
  external_services/pocketbase/README.md
  external_services/pocketbase/docker-compose.yml
  external_services/pocketbase/entrypoint.sh
  external_services/pocketbase/pb_hooks/README.md
  external_services/pocketbase/pb_hooks/health.pb.js
Labels: documentation, ci

Add biometric quick unlock (Touch ID / Face ID / fingerprint)
  docs/biometric-auth.md
  package-lock.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/capabilities/mobile.json
  src-tauri/src/lib.rs
  src/App.vue
  src/components/BiometricSetupModal.vue
  src/components/BiometricUnlockPanel.vue
  src/components/ToggleSwitch.vue
  src/composables/useBiometricAuth.ts
  src/locales/en.json
  src/locales/hi.json
  src/services/biometricAuth.ts
  src/test/composables/useBiometricAuth.test.ts
  src/test/services/biometricAuth.test.ts
  src/views/LoginView.vue
  src/views/ProfileView.vue
Labels: frontend, testing, documentation, config, dependencies, i18n, ui, auth

Add Dockerized PocketBase backend with standard + ONCE builds (#229)
  Dockerfile
  README.md
  docs/SELF_HOSTING.md
  external_services/pocketbase/.dockerignore
  external_services/pocketbase/Dockerfile
  external_services/pocketbase/Dockerfile.once
  external_services/pocketbase/README.md
  external_services/pocketbase/docker-compose.yml
  external_services/pocketbase/entrypoint.sh
  external_services/pocketbase/pb_hooks/README.md
  external_services/pocketbase/pb_hooks/health.pb.js
Labels: documentation, ci

Fix Android adaptive icon cropping and skip Turnstile in Tauri builds
  .github/workflows/android-build.yml
  scripts/fix-android-adaptive-icons.mjs
  src-tauri/icons/android/mipmap-hdpi/ic_launcher_foreground.png
  src-tauri/icons/android/mipmap-mdpi/ic_launcher_foreground.png
  src-tauri/icons/android/mipmap-xhdpi/ic_launcher_foreground.png
  src-tauri/icons/android/mipmap-xxhdpi/ic_launcher_foreground.png
  src-tauri/icons/android/mipmap-xxxhdpi/ic_launcher_foreground.png
  src/composables/usePlatform.ts
  src/views/LoginView.vue
Labels: frontend, ci, ui, auth

Fix native (Tauri) login and stabilize Android APK signing
  .env.example
  .github/workflows/android-build.yml
  .github/workflows/tauri-build.yml
  external_services/pocketbase/pb_hooks/README.md
  external_services/pocketbase/pb_hooks/create_user.pb.js
  external_services/pocketbase/pb_hooks/login.pb.js
  external_services/pocketbase/pb_hooks/utils.js
  scripts/setup-android-signing.mjs
  src-tauri/keys/sideload.keystore
  src/services/pocketbase.ts
  src/utils/appAttestation.ts
Labels: frontend, config, ci

Add GHCR publishing for frontend and backend Docker images
  .github/workflows/docker-publish.yml
  docs/SELF_HOSTING.md
Labels: documentation, ci

Add behavioral nudge engine with Dashboard nudge card
  src/components/DashboardNudge.vue
  src/composables/useNudges.ts
  src/locales/en.json
  src/locales/hi.json
  src/test/composables/useNudges.test.ts
  src/views/DashboardView.vue
  src/views/PaymentsView.vue
Labels: frontend, testing, i18n, ui

Add milestone celebrations for deliveries and payments
  src/App.vue
  src/components/MilestoneCelebration.vue
  src/composables/useMilestones.ts
  src/locales/en.json
  src/locales/hi.json
  src/test/components/MilestoneCelebration.test.ts
  src/test/composables/useMilestones.test.ts
  src/views/DeliveryView.vue
  src/views/PaymentsView.vue
Labels: frontend, testing, i18n, ui

Fix stale delivery photos on reset; make new-payment modal sticky
  src/components/FileUploadComponent.vue
  src/components/PaymentModal.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/test/components/FileUploadComponent.test.ts
  src/views/PaymentsView.vue
Labels: frontend, testing, ui

chore(deps): consolidate open Dependabot updates
  .github/workflows/android-build.yml
  .github/workflows/auto-update.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/tauri-build.yml
  package-lock.json
  package.json
Labels: config, ci, dependencies, security

chore(deps): refresh lockfile to resolve fixable npm audit advisories
  package-lock.json
Labels: config, dependencies

.github/labeler.yml:

# Pull request labeler configuration
# See https://github.com/actions/labeler

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
      - 'src/**/*.ts'
      - 'src/**/*.js'
      - 'src/components/**/*'
      - 'src/views/**/*'
      - 'src/composables/**/*'

# Styling changes
styling:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.css'
      - 'tailwind.config.js'
      - 'postcss.config.js'

# Testing changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/test/**/*'
      - '**/*.test.ts'
      - '**/*.test.js'
      - 'vitest.config.ts'
      - 'src/test/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '.github/**/*.md'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.js'
      - '*.config.ts'
      - 'tsconfig*.json'
      - 'package.json'
      - 'package-lock.json'
      - '.env*'

# Build and CI changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'npm-shrinkwrap.json'

# Security related
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/workflows/security.yml'

# Mobile/PWA changes
mobile:
  - changed-files:
    - any-glob-to-any-file:
      - 'public/manifest.json'
      - 'public/sw.js'
      - 'src/composables/usePWA.ts'

# Internationalization
i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/locales/**/*'
      - 'src/composables/useI18n.ts'

# Database/Schema changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'pocketbase-schema.md'
      - 'pocketbase-api-rules.md'

# User Interface
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*'
      - 'src/views/**/*'

# Authentication
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/composables/useAuth.ts'
      - 'src/views/LoginView.vue'
      - 'src/router/index.ts'

# Performance
performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'vite.config.ts'
      - 'src/**/*.lazy.ts'

# Accessibility
accessibility:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
    - all-globs-to-all-files:
      - 'aria-*'
      - 'role='
      - 'tabindex'
