Repository Site-Wise/app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, styling, testing, documentation, config, ci, dependencies, security, mobile, i18n, database, ui, auth, performance

Tests and build fixed up
  package.json
  src/components/PaymentModal.vue
  src/test/components/PaymentModal.editing.test.ts
  src/test/components/PaymentModal.partial-usage.test.ts
  src/test/components/PaymentModal.test.ts
  src/test/composables/usePlatform.test.ts
  src/test/services/deliveryItemService.siteIsolation.test.ts
Labels: frontend, testing, config, dependencies, ui

Fix vendor return and change vendor display name
  package.json
  src/components/returns/ReturnModal.vue
  src/services/pocketbase.ts
  src/test/composables/usePlatform.test.ts
  src/test/views/DeliveryView.test.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/test/views/VendorReturnsView.test.ts
  src/views/DeliveryView.vue
  src/views/PaymentsView.vue
  src/views/VendorReturnsView.vue
Labels: frontend, testing, config, dependencies, ui

Improve update UX and show current version
  package.json
  src/components/AppLayout.vue
  src/components/PWAUpdateNotification.vue
  src/composables/usePWAUpdate.ts
  src/locales/en.json
  src/locales/hi.json
  src/types/env.d.ts
  vite.config.ts
Labels: frontend, config, dependencies, i18n, ui, performance

Nginx config update and test fixes
  nginx.conf
  package.json
  src/test/composables/usePlatform.test.ts
  src/test/integration/auth-flow.test.ts
Labels: frontend, testing, config, dependencies

Introduce badges for convenience
  src/components/StatusBadge.vue
  src/locales/en.json
  src/locales/hi.json
  src/views/VendorDetailView.vue
Labels: frontend, i18n, ui

Introduce onboarding demos
  package-lock.json
  package.json
  src/components/AppLayout.vue
  src/composables/useFeatureTourExample.ts
  src/composables/useOnboarding.ts
  src/locales/en.json
  src/locales/hi.json
  src/main.ts
  src/styles/driver-overrides.css
  src/test/composables/useOnboarding.test.ts
  src/utils/onboardingTest.ts
  src/views/DashboardView.vue
  src/views/DeliveryView.vue
  src/views/ItemsView.vue
Labels: frontend, styling, testing, config, dependencies, i18n, ui

Moving towards fixes
  package.json
  src/components/PaymentModal.vue
  src/components/PaymentModalEnhanced.vue
  src/components/returns/SimpleReturnModal.vue
  src/composables/useI18n.ts
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/test/mocks/pocketbase.ts
  src/views/PaymentsView.vue
  src/views/ServiceBookingsView.vue
Labels: frontend, testing, config, dependencies, i18n, ui

Fix total due amount logic
  src/components/VendorSearchBox.vue
  src/components/returns/RefundModal.vue
  src/components/returns/ReturnDetailsModal.vue
  src/composables/usePaymentPartials.ts
  src/demo/VendorSearchDemo.vue
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/views/DashboardView.vue
  src/views/DeliveryView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServiceDetailView.vue
  src/views/VendorDetailView.vue
  src/views/VendorReturnsView.vue
  src/views/VendorsView.vue
Labels: frontend, i18n, ui

Towards almost fixed up!
  src/components/PaymentModal.vue
  src/components/TriStateCheckbox.vue
  src/services/pocketbase.ts
  src/views/DeliveryView.vue
  src/views/PaymentsView.vue
  src/views/ServiceBookingsView.vue
Labels: frontend, ui

More fixes to payment modal
  src/components/PaymentModal.vue
  src/components/TriStateCheckbox.vue
  src/components/VendorSearchBox.vue
Labels: frontend, ui

Significant improvement in credit note handling
  src/components/PaymentModal.vue
  src/services/pocketbase.ts
  src/test/services/credit-note-balance.test.ts
Labels: frontend, testing, ui

Better credit note!
  src/components/PaymentModal.vue
  src/services/pocketbase.ts
  src/views/PaymentsView.vue
Labels: frontend, ui

Implemented progress and got payments working
  src/components/PaymentModal.vue
  src/composables/useInvitations.ts
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/style.css
  src/test/composables/useInvitations.test.ts
  src/views/PaymentsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServiceDetailView.vue
Labels: frontend, styling, testing, i18n, ui

Build aligned
  src/components/PaymentModal.vue
  src/demo/VendorSearchDemo.vue
  src/services/pocketbase.ts
  src/utils/onboardingTest.ts
  src/views/DeliveryView.vue
  src/views/PaymentsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
Labels: frontend, ui

Improvements to rules, tour
  external_services/pocketbase/pocketbase-api-rules.md
  pocketbase_rules.json
  src/components/AppLayout.vue
  src/composables/useOnboarding.ts
  src/locales/en.json
  src/locales/hi.json
  src/views/DeliveryView.vue
  src/views/ItemsView.vue
  src/views/VendorsView.vue
Labels: frontend, i18n, ui

Fixed translations!
  src/components/VendorSearchBox.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/test/views/DeliveryView.test.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/test/views/ServicesView.test.ts
  src/test/views/VendorsView.test.ts
  src/views/AccountsView.vue
  src/views/DeliveryView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, i18n, ui

Updates for better handling of returns
  src/components/returns/RefundModal.vue
  src/components/returns/ReturnDetailsModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/views/PaymentsView.vue
  src/views/VendorReturnsView.vue
Labels: frontend, i18n, ui

Major fixes
  src/components/AppLayout.vue
  src/components/PaymentModal.vue
  src/components/returns/ReturnDetailsModal.vue
  src/services/pocketbase.ts
  src/views/PaymentsView.vue
Labels: frontend, ui

Build fix
  src/components/AppLayout.vue
  src/services/pocketbase.ts
Labels: frontend, ui

Improvements
  package.json
  src/components/PaymentModal.vue
  src/components/VendorSearchBox.vue
  src/services/deliveryUtils.ts
  src/views/DeliveryView.vue
  src/views/VendorDetailView.vue
Labels: frontend, config, dependencies, ui

Implemented batch method
  src/components/delivery/MultiItemDeliveryModal.vue
  src/services/pocketbase.ts
  src/services/pocketbaseBatch.ts
Labels: frontend, ui

Major fix on batching huge performance improvement
  src/components/AppLayout.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/composables/useModalState.ts
  src/services/pocketbase.ts
Labels: frontend, ui

Hide the FAB when modal is open!
  src/views/AccountsView.vue
  src/views/DeliveryView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/QuotationsView.vue
  src/views/ServiceBookingsView.vue
  src/views/ServicesView.vue
  src/views/VendorDetailView.vue
  src/views/VendorReturnsView.vue
Labels: frontend, ui

Improve PWA prompt and fix build errors
  .gitignore
  src/App.vue
  src/components/PWAPrompt.vue
  src/composables/usePWA.ts
  src/composables/usePWAUpdate.ts
  src/locales/en.json
  src/locales/hi.json
  src/utils/pwaTest.ts
  src/views/VendorDetailView.vue
  vite.config.ts
Labels: frontend, config, mobile, i18n, ui, performance

Fix mobile text on onboarding and correct manifest file link
  index.html
  package.json
  src/composables/useOnboarding.ts
  src/composables/usePWA.ts
  src/locales/en.json
  src/locales/hi.json
  vite.config.ts
Labels: frontend, config, dependencies, mobile, i18n, performance

Major bug fix and test fixes
  README.md
  package.json
  src/components/PaymentModal.vue
  src/components/delivery/DeliveryItemRow.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/services/pocketbaseBatch.ts
  src/test/components/PWAPrompt.test.ts
  src/test/components/PaymentModal.editing.test.ts
  src/test/components/PaymentModal.partial-usage.test.ts
  src/test/components/PaymentModal.test.ts
  src/test/components/TriStateCheckbox.test.ts
  src/test/components/VendorSearchBox.test.ts
  src/test/components/VendorSearchBoxIntegration.test.ts
  src/test/components/delivery/DeliveryItemRow.test.ts
  src/test/components/delivery/MultiItemDeliveryModal.test.ts
  src/test/composables/useOnboarding.test.ts
  src/test/integration/data-flow.test.ts
  src/test/services/credit-note-balance.test.ts
  src/test/views/DeliveryView.test.ts
  src/test/views/PaymentsView-mobile.test.ts
  src/test/views/QuotationsView.test.ts
  src/test/views/ServiceBookingsView-dates.test.ts
  src/test/views/ServiceBookingsView-mobile.test.ts
  src/test/views/ServicesView.test.ts
  src/test/views/VendorDetailView.test.ts
  src/test/views/VendorsView-outstanding.test.ts
  src/test/views/VendorsView.test.ts
  src/views/ServiceBookingsView.vue
Labels: frontend, testing, documentation, config, dependencies, i18n, ui

Build fix and test improvement
  src/components/PaymentModal.vue
  src/test/components/AppLayout.test.ts
Labels: frontend, testing, ui

Massive improvements to tests and another PWA attempt
  CLAUDE.md
  package.json
  src/App.vue
  src/components/PWAPrompt.vue
  src/composables/usePWA.ts
  src/composables/usePWAUpdate.ts
  src/test/components/CardDropdownMenu.test.ts
  src/test/components/ItemSelector.test.ts
  src/test/components/KeyboardShortcutTooltip.test.ts
  src/test/components/PWAPrompt.test.ts
  src/test/components/PWAUpdateNotification.test.ts
  src/test/components/SearchBox.test.ts
  src/test/components/SiteDeleteModal.test.ts
  src/test/components/StatusBadge.test.ts
  src/test/components/TagSelector.test.ts
  src/test/components/ToastContainer.test.ts
  src/test/components/TurnstileWidget.test.ts
  src/test/composables/usePWA.test.ts
  src/test/integration/pwa-critical.test.ts
  src/test/integration/pwa-functionality.test.ts
  src/test/integration/pwa.integration.test.ts
  src/test/views/ForgotPasswordView.test.ts
  src/test/views/InvitesView.test.ts
  src/test/views/ServiceDetailView.test.ts
  src/test/views/VendorReturnsView.test.ts
  src/utils/pwa-test.ts
  vite.config.ts
Labels: frontend, testing, documentation, config, dependencies, mobile, ui, performance

Fix test and coverage attempt
  .github/workflows/ci.yml
Labels: ci

Codecoverage
  README.md
Labels: documentation

Allow reconnection of missed delivery items
  package.json
  src/locales/en.json
  src/locales/hi.json
  src/services/deliveryUtils.ts
  src/services/pocketbase.ts
  src/test/integration/delivery-reconnect.test.ts
  src/test/services/deliveryService.reconnect.test.ts
  src/views/DeliveryView.vue
Labels: frontend, testing, config, dependencies, i18n, ui

Improvements
  src/composables/useSearch.ts
  src/test/composables/useSearch.test.ts
  src/test/views/AccountDetailView.test.ts
  src/views/AccountDetailView.vue
  src/views/ServiceBookingsView.vue
Labels: frontend, testing, ui

Bug fix for total
  package-lock.json
  package.json
  src/test/views/DashboardView.test.ts
  src/views/DashboardView.vue
  vitest.config.ts
Labels: frontend, testing, config, dependencies, ui

Fixed UI issues and search functionality
  package.json
  src/components/SearchBox.vue
  src/composables/useSearch.ts
  src/style.css
  src/test/composables/useSearch.test.ts
  src/views/DeliveryView.vue
  src/views/PaymentsView.vue
  src/views/ServiceBookingsView.vue
Labels: frontend, styling, testing, config, dependencies, ui

Include summary when searching
  src/locales/en.json
  src/locales/hi.json
  src/test/views/SearchResultsSummary.test.ts
  src/test/views/ServiceBookingsView-dates.test.ts
  src/test/views/ServiceBookingsView-mobile.test.ts
  src/views/AccountsView.vue
  src/views/DeliveryView.vue
  src/views/ItemsView.vue
  src/views/PaymentsView.vue
  src/views/ServiceBookingsView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, i18n, ui

Lots of Fixes! Significant increase in UX
  src/components/ItemCreateModal.vue
  src/components/ItemSelector.vue
  src/components/delivery/DeliveryItemRow.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/views/AccountsView.vue
  src/views/DashboardView.vue
  src/views/ItemsView.vue
  src/views/ServicesView.vue
  src/views/VendorsView.vue
Labels: frontend, i18n, ui

Include support for rounding off and % tax
  src/components/delivery/DeliveryItemRow.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
Labels: frontend, i18n, ui

Included support for PDF upload
  package-lock.json
  package.json
  public/assets/pdf.worker.min.mjs
  src/components/FileUploadComponent.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/utils/pdfToImage.ts
Labels: frontend, config, dependencies, i18n, ui

Fixed payment status in delivery preview
  src/views/DeliveryView.vue
Labels: frontend, ui

Make toast experience nicer when errors
  src/components/ToastContainer.vue
  src/locales/en.json
  src/locales/hi.json
  src/views/DashboardView.vue
  src/views/DeliveryView.vue
Labels: frontend, i18n, ui

.github/labeler.yml:

# Pull request labeler configuration
# See https://github.com/actions/labeler

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
      - 'src/**/*.ts'
      - 'src/**/*.js'
      - 'src/components/**/*'
      - 'src/views/**/*'
      - 'src/composables/**/*'

# Styling changes
styling:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.css'
      - 'tailwind.config.js'
      - 'postcss.config.js'

# Testing changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/test/**/*'
      - '**/*.test.ts'
      - '**/*.test.js'
      - 'vitest.config.ts'
      - 'src/test/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '.github/**/*.md'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.js'
      - '*.config.ts'
      - 'tsconfig*.json'
      - 'package.json'
      - 'package-lock.json'
      - '.env*'

# Build and CI changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'npm-shrinkwrap.json'

# Security related
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/workflows/security.yml'

# Mobile/PWA changes
mobile:
  - changed-files:
    - any-glob-to-any-file:
      - 'public/manifest.json'
      - 'public/sw.js'
      - 'src/composables/usePWA.ts'

# Internationalization
i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/locales/**/*'
      - 'src/composables/useI18n.ts'

# Database/Schema changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'pocketbase-schema.md'
      - 'pocketbase-api-rules.md'

# User Interface
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*'
      - 'src/views/**/*'

# Authentication
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/composables/useAuth.ts'
      - 'src/views/LoginView.vue'
      - 'src/router/index.ts'

# Performance
performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'vite.config.ts'
      - 'src/**/*.lazy.ts'

# Accessibility
accessibility:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
    - all-globs-to-all-files:
      - 'aria-*'
      - 'role='
      - 'tabindex'
