Repository Site-Wise/app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, styling, testing, documentation, config, ci, dependencies, security, mobile, i18n, database, ui, auth, performance

.github/labeler.yml:

# Pull request labeler configuration
# See https://github.com/actions/labeler

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
      - 'src/**/*.ts'
      - 'src/**/*.js'
      - 'src/components/**/*'
      - 'src/views/**/*'
      - 'src/composables/**/*'

# Styling changes
styling:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.css'
      - 'tailwind.config.js'
      - 'postcss.config.js'

# Testing changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/test/**/*'
      - '**/*.test.ts'
      - '**/*.test.js'
      - 'vitest.config.ts'
      - 'src/test/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '.github/**/*.md'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.js'
      - '*.config.ts'
      - 'tsconfig*.json'
      - 'package.json'
      - 'package-lock.json'
      - '.env*'

# Build and CI changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'npm-shrinkwrap.json'

# Security related
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/workflows/security.yml'

# Mobile/PWA changes
mobile:
  - changed-files:
    - any-glob-to-any-file:
      - 'public/manifest.json'
      - 'public/sw.js'
      - 'src/composables/usePWA.ts'

# Internationalization
i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/locales/**/*'
      - 'src/composables/useI18n.ts'

# Database/Schema changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'pocketbase-schema.md'
      - 'pocketbase-api-rules.md'

# User Interface
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*'
      - 'src/views/**/*'

# Authentication
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/composables/useAuth.ts'
      - 'src/views/LoginView.vue'
      - 'src/router/index.ts'

# Performance
performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'vite.config.ts'
      - 'src/**/*.lazy.ts'

# Accessibility
accessibility:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
    - all-globs-to-all-files:
      - 'aria-*'
      - 'role='
      - 'tabindex'

Add VendorCreditNoteService and CreditNoteUsageService tests
  src/test/services/pocketbase-services-comprehensive.test.ts
Labels: frontend, testing

Add comprehensive useNativeNotifications tests (76 tests, 57 passing)
  src/test/composables/useNativeNotifications.test.ts
Labels: frontend, testing

Add comprehensive composable tests (300+ new tests)
  src/test/composables/useOnboarding-comprehensive.test.ts
  src/test/composables/usePWA-comprehensive.test.ts
  src/test/composables/useSite-comprehensive.test.ts
Labels: frontend, testing

Add comprehensive utility tests (130+ tests)
  src/test/utils/onboardingTest-comprehensive.test.ts
  src/test/utils/pdfToImage-comprehensive.test.ts
Labels: frontend, testing

Fix all failing tests and improve test reliability
  src/test/composables/useNativeNotifications.test.ts
  src/test/composables/usePWA-comprehensive.test.ts
  src/test/services/pocketbase-services-comprehensive.test.ts
  src/test/utils/pdfToImage-comprehensive.test.ts
  src/test/views/UserManagementView-logic.test.ts
Labels: frontend, testing

Replace service select with searchable dropdown in booking modal
  src/components/ServiceSearchBox.vue
  src/locales/en.json
  src/locales/hi.json
  src/views/ServiceBookingsView.vue
Labels: frontend, i18n, ui

Replace vendor dropdown with VendorSearchBox in ReturnModal
  src/components/returns/ReturnModal.vue
  src/test/components/returns/ReturnModal.test.ts
Labels: frontend, testing, ui

Redesign quotations modal to multi-step wizard like deliveries
  src/components/quotation/MultiItemQuotationModal.vue
  src/components/quotation/QuotationItemRow.vue
  src/locales/en.json
  src/locales/hi.json
  src/views/QuotationsView.vue
Labels: frontend, i18n, ui

Fix image upload in ReturnModal
  src/components/returns/ReturnModal.vue
Labels: frontend, ui

Update data model to use Quotation with QuotationItems
  src/components/quotation/MultiItemQuotationModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/services/pocketbase.ts
  src/views/QuotationsView.vue
Labels: frontend, i18n, ui

Fix outstanding amount calculation to include returns and credit notes
  src/services/pocketbase.ts
  src/views/DashboardView.vue
  src/views/VendorDetailView.vue
  src/views/VendorsView.vue
Labels: frontend, ui

Add LoadingOverlay component for async operations
  src/components/LoadingOverlay.vue
  src/components/__tests__/LoadingOverlay.test.ts
  src/locales/en.json
  src/locales/hi.json
Labels: frontend, testing, i18n, ui

Fix timing-sensitive tests in UserManagementView
  src/test/views/UserManagementView-logic.test.ts
Labels: frontend, testing

Add LoadingOverlay to all modals for async operation feedback
  src/components/ItemCreateModal.vue
  src/components/PaymentModal.vue
  src/components/SiteDeleteModal.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/components/returns/RefundModal.vue
  src/components/returns/ReturnModal.vue
  src/views/AccountsView.vue
  src/views/ItemsView.vue
  src/views/ServicesView.vue
  src/views/VendorsView.vue
Labels: frontend, ui

Fix keyboard shortcut tooltip offset when page is scrolled
  src/components/KeyboardShortcutTooltip.vue
Labels: frontend, ui

Package updates
  .github/workflows/auto-update.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/tauri-build.yml
  package-lock.json
  package.json
Labels: config, ci, dependencies, security

Fixed!
  src/services/pocketbase.ts
  src/test/services/pocketbase-payment-logic.test.ts
  src/views/PaymentsView.vue
Labels: frontend, testing, ui

Fix incomplete payment allocation bug (#102)
  src/services/pocketbase.ts
  src/test/services/pocketbase-payment-logic.test.ts
  src/views/PaymentsView.vue
Labels: frontend, testing, ui

Fix keyboard shortcut tooltip offset when page is scrolled (#124)
  src/components/KeyboardShortcutTooltip.vue
Labels: frontend, ui

Fix keyboard shortcut tooltip offset when page is scrolled (#124)
  src/components/KeyboardShortcutTooltip.vue
Labels: frontend, ui

Fix incomplete payment allocation bug (#102)
  src/services/pocketbase.ts
  src/test/services/pocketbase-payment-logic.test.ts
  src/views/PaymentsView.vue
Labels: frontend, testing, ui

Package updates
  .github/workflows/auto-update.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/tauri-build.yml
  package-lock.json
  package.json
Labels: config, ci, dependencies, security

Fix flaky relative time test by using fixed timestamp
  src/test/views/UserManagementView-logic.test.ts
Labels: frontend, testing

Fix PDF to image conversion error (#104)
  public/assets/pdf.worker.min.mjs
  src/components/FileUploadComponent.vue
  src/test/components/FileUploadComponent.simple.test.ts
  src/test/utils/pdfToImage.test.ts
  src/test/views/UserManagementView-logic.test.ts
  src/utils/pdfToImage.ts
Labels: frontend, testing, ui

Add password visibility toggle to login and signup forms
  src/views/LoginView.vue
Labels: frontend, ui, auth

Mobile-native redesign with bottom navigation and improved UX
  package-lock.json
  src/components/AppLayout.vue
  src/components/BottomNavBar.vue
  src/components/BottomSheet.vue
  src/components/CardDropdownMenu.vue
  src/components/PullToRefresh.vue
  src/components/SearchBox.vue
  src/composables/usePullToRefresh.ts
  src/locales/en.json
  src/locales/hi.json
  src/style.css
  src/views/DashboardView.vue
  src/views/ItemsView.vue
  tailwind.config.js
Labels: frontend, styling, config, dependencies, i18n, ui

Version upgrade
  package.json
Labels: config, dependencies

Implement automatic token refresh for PocketBase authentication
  package-lock.json
  package.json
  src/App.vue
  src/composables/useAuth.ts
  src/services/pocketbase.ts
  src/test/components/App.test.ts
  src/test/composables/useAuth.test.ts
  src/test/integration/auth-flow.test.ts
  src/test/mocks/pocketbase.ts
Labels: frontend, testing, config, dependencies, auth

Replace due payments table with modal button
  src/components/DuePaymentsModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/views/PaymentsView.vue
Labels: frontend, i18n, ui

License change and package upgrades with test fixes
  LICENSE
  package-lock.json
  package.json
  src/test/components/FileUploadComponent.simple.test.ts
  src/test/components/FileUploadComponent.test.ts
  src/test/composables/usePlatform.test.ts
  src/test/composables/useSiteData.test.ts
  src/test/composables/useSubscription-razorpay.test.ts
  src/test/integration/cross-site-access-prevention.test.ts
  src/test/services/pocketbase-helpers.test.ts
  src/test/services/pocketbase.test.ts
  src/test/setup.ts
  src/test/views/AccountDetailView.test.ts
  src/test/views/ServiceDetailView.test.ts
  src/test/views/UserManagementView-logic.test.ts
Labels: frontend, testing, config, dependencies

Fixed build issues
  src/components/PhotoGallery.vue
  src/components/TimeCalculatorModal.vue
  src/services/pocketbase.ts
  src/views/ServiceBookingsView.vue
Labels: frontend, ui

Potential fix for code scanning alert no. 10068: Unused variable, import, function or class
  src/test/views/AccountDetailView.test.ts
Labels: frontend, testing

Add password visibility toggle to login forms (#135)
  LICENSE
  package-lock.json
  package.json
  src/components/PhotoGallery.vue
  src/components/TimeCalculatorModal.vue
  src/services/pocketbase.ts
  src/test/components/FileUploadComponent.simple.test.ts
  src/test/components/FileUploadComponent.test.ts
  src/test/composables/usePlatform.test.ts
  src/test/composables/useSiteData.test.ts
  src/test/composables/useSubscription-razorpay.test.ts
  src/test/integration/cross-site-access-prevention.test.ts
  src/test/services/pocketbase-helpers.test.ts
  src/test/services/pocketbase.test.ts
  src/test/setup.ts
  src/test/views/AccountDetailView.test.ts
  src/test/views/ServiceDetailView.test.ts
  src/test/views/UserManagementView-logic.test.ts
  src/views/LoginView.vue
  src/views/ServiceBookingsView.vue
Labels: frontend, testing, config, dependencies, ui, auth

Refactor: Split PocketBase services into modular structure
  src/services/pocketbase/README.md
  src/services/pocketbase/client.ts
  src/services/pocketbase/context.ts
  src/services/pocketbase/index.ts
  src/services/pocketbase/services/account.service.ts
  src/services/pocketbase/services/auth.service.ts
  src/services/pocketbase/services/index.ts
  src/services/pocketbase/services/item.service.ts
  src/services/pocketbase/services/mappers.ts
  src/services/pocketbase/services/service.service.ts
  src/services/pocketbase/services/site-user.service.ts
  src/services/pocketbase/services/site.service.ts
  src/services/pocketbase/services/tag.service.ts
  src/services/pocketbase/types/account.ts
  src/services/pocketbase/types/delivery.ts
  src/services/pocketbase/types/index.ts
  src/services/pocketbase/types/item.ts
  src/services/pocketbase/types/payment.ts
  src/services/pocketbase/types/permissions.ts
  src/services/pocketbase/types/quotation.ts
  src/services/pocketbase/types/service.ts
  src/services/pocketbase/types/site.ts
  src/services/pocketbase/types/tag.ts
  src/services/pocketbase/types/user.ts
  src/services/pocketbase/types/vendor-returns.ts
  src/services/pocketbase/types/vendor.ts
Labels: frontend

Update package-lock.json from dependency installation
  package-lock.json
Labels: config, dependencies

Complete PocketBase service extraction and modularization
  src/services/pocketbase.ts
  src/services/pocketbase/services/account-transaction.service.ts
  src/services/pocketbase/services/credit-note-usage.service.ts
  src/services/pocketbase/services/delivery-item.service.ts
  src/services/pocketbase/services/delivery.service.ts
  src/services/pocketbase/services/index.ts
  src/services/pocketbase/services/payment-allocation.service.ts
  src/services/pocketbase/services/payment.service.ts
  src/services/pocketbase/services/quotation.service.ts
  src/services/pocketbase/services/service-booking.service.ts
  src/services/pocketbase/services/site-invitation.service.ts
  src/services/pocketbase/services/vendor-credit-note.service.ts
  src/services/pocketbase/services/vendor-refund.service.ts
  src/services/pocketbase/services/vendor-return-item.service.ts
  src/services/pocketbase/services/vendor-return.service.ts
  src/services/pocketbase/services/vendor.service.ts
Labels: frontend

Add mobile menu for due payments access
  src/views/PaymentsView.vue
Labels: frontend, ui

Move due payments to modal popup (#138)
  src/components/DuePaymentsModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/views/PaymentsView.vue
Labels: frontend, i18n, ui

Replace vendor dropdown with searchbox in return modal (#120)
  src/components/returns/ReturnModal.vue
  src/test/components/returns/ReturnModal.test.ts
Labels: frontend, testing, ui

Replace service select with searchable dropdown in booking modal (#119)
  src/components/ServiceSearchBox.vue
  src/locales/en.json
  src/locales/hi.json
  src/views/ServiceBookingsView.vue
Labels: frontend, i18n, ui
