Repository Site-Wise/app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, styling, testing, documentation, config, ci, dependencies, security, mobile, i18n, database, ui, auth, performance

.github/labeler.yml:

# Pull request labeler configuration
# See https://github.com/actions/labeler

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
      - 'src/**/*.ts'
      - 'src/**/*.js'
      - 'src/components/**/*'
      - 'src/views/**/*'
      - 'src/composables/**/*'

# Styling changes
styling:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.css'
      - 'tailwind.config.js'
      - 'postcss.config.js'

# Testing changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/test/**/*'
      - '**/*.test.ts'
      - '**/*.test.js'
      - 'vitest.config.ts'
      - 'src/test/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '.github/**/*.md'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.js'
      - '*.config.ts'
      - 'tsconfig*.json'
      - 'package.json'
      - 'package-lock.json'
      - '.env*'

# Build and CI changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'npm-shrinkwrap.json'

# Security related
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/workflows/security.yml'

# Mobile/PWA changes
mobile:
  - changed-files:
    - any-glob-to-any-file:
      - 'public/manifest.json'
      - 'public/sw.js'
      - 'src/composables/usePWA.ts'

# Internationalization
i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/locales/**/*'
      - 'src/composables/useI18n.ts'

# Database/Schema changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'pocketbase-schema.md'
      - 'pocketbase-api-rules.md'

# User Interface
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*'
      - 'src/views/**/*'

# Authentication
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/composables/useAuth.ts'
      - 'src/views/LoginView.vue'
      - 'src/router/index.ts'

# Performance
performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'vite.config.ts'
      - 'src/**/*.lazy.ts'

# Accessibility
accessibility:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
    - all-globs-to-all-files:
      - 'aria-*'
      - 'role='
      - 'tabindex'

Fix TypeScript errors in analytics feature
  package-lock.json
  src/composables/useAnalytics.ts
  src/views/AnalyticsView.vue
Labels: frontend, config, dependencies, ui

Add per-tag cost trajectories in analytics
  src/services/pocketbase.ts
  src/views/AnalyticsView.vue
Labels: frontend, ui

Improve date and currency formatting in analytics charts
  src/views/AnalyticsView.vue
Labels: frontend, ui

Improve analytics charts: pie chart and connected lines
  src/views/AnalyticsView.vue
Labels: frontend, ui

Change cost over time from line chart to bar chart
  src/views/AnalyticsView.vue
Labels: frontend, ui

Align save button color with add item button
  src/views/AnalyticsView.vue
Labels: frontend, ui

Potential fix for code scanning alert no. 11384: Unused variable, import, function or class
  src/test/composables/useAnalytics.test.ts
Labels: frontend, testing

Bump jspdf from 3.0.4 to 4.0.0 and fix translation key
  package-lock.json
  package.json
  src/views/AnalyticsView.vue
Labels: frontend, config, dependencies, ui

Remove redudant file
  ANALYTICS_BACKEND_REQUIREMENTS.md
Labels: documentation

Disable tag creation in analytics filter
  src/views/AnalyticsView.vue
Labels: frontend, ui

Fix analytics bugs: tag PATCH request and amount filter issues
  src/components/TagSelector.vue
  src/composables/useAnalytics.ts
  src/views/AnalyticsView.vue
Labels: frontend, ui

Add analytics filter validation and use -1 sentinel for null amounts
  src/composables/useAnalytics.ts
  src/test/composables/useAnalytics.test.ts
Labels: frontend, testing

Fix duplicate label
  src/components/TagSelector.vue
  src/views/AnalyticsView.vue
Labels: frontend, ui

Bump revision
  package.json
Labels: config, dependencies

Add tag-based analytics with saved filters (#143)
  package-lock.json
  package.json
  src/components/AppLayout.vue
  src/components/BottomNavBar.vue
  src/components/TagSelector.vue
  src/composables/useAnalytics.ts
  src/locales/en.json
  src/locales/hi.json
  src/router/index.ts
  src/services/pocketbase.ts
  src/test/composables/useAnalytics.test.ts
  src/views/AnalyticsView.vue
Labels: frontend, testing, config, dependencies, i18n, ui, auth

Initial work
  external_services/cloudflare-workers/webauthn-verifier/README.md
  external_services/cloudflare-workers/webauthn-verifier/package.json
  external_services/cloudflare-workers/webauthn-verifier/src/index.ts
  external_services/cloudflare-workers/webauthn-verifier/tsconfig.json
  external_services/cloudflare-workers/webauthn-verifier/wrangler.toml
  external_services/pocketbase/HOOKS_README.md
  external_services/pocketbase/pocketbase-schema.md
  external_services/pocketbase/webauthn-hooks.pb.js
  external_services/pocketbase/webauthn-utils.js
  package-lock.json
  src/components/PasskeyList.vue
  src/components/PasskeyLoginButton.vue
  src/composables/usePasskey.ts
  src/locales/en.json
  src/locales/hi.json
  src/services/passkeyService.ts
Labels: frontend, config, dependencies, i18n, ui

Align rules
  external_services/pocketbase/pocketbase-api-rules.md
  src/services/passkeyService.ts
Labels: frontend

Fixes for too many requests
  src/composables/useSiteData.ts
  src/views/DeliveryView.vue
Labels: frontend, ui

Fixed tests
  src/test/composables/useSiteData.test.ts
  src/test/integration/request-deduplication.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 11585: Useless conditional
  src/composables/useSiteData.ts
Labels: frontend

Potential fix for code scanning alert no. 11587: Useless conditional
  src/test/integration/request-deduplication.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 11581: Unused variable, import, function or class
  src/test/composables/useSiteData.test.ts
Labels: frontend, testing

Align webauthn properly
  src/components/VendorSearchBox.vue
  src/locales/en.json
  src/locales/hi.json
  src/test/components/VendorSearchBox.test.ts
  src/test/views/LoginView.test.ts
  src/views/LoginView.vue
Labels: frontend, testing, i18n, ui, auth

Potential fix for code scanning alert no. 11584: Unused variable, import, function or class
  src/test/integration/request-deduplication.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 11589: Unused variable, import, function or class
  src/test/components/VendorSearchBox.test.ts
Labels: frontend, testing

Correct the env call
  external_services/pocketbase/webauthn-utils.js
Labels: none

Add kg unit
  src/locales/en.json
  src/locales/hi.json
  src/test/views/ServicesView.test.ts
  src/views/ServicesView.vue
Labels: frontend, testing, i18n, ui

Fix hooks properly
  external_services/cloudflare-workers/.gitignore
  external_services/cloudflare-workers/webauthn-verifier/package-lock.json
  external_services/cloudflare-workers/webauthn-verifier/package.json
  external_services/cloudflare-workers/webauthn-verifier/wrangler.toml
  external_services/pocketbase/HOOKS_README.md
  external_services/pocketbase/webauthn-hooks.pb.js
  external_services/pocketbase/webauthn-utils.js
Labels: none

Test fixes and improvement
  src/components/PasskeyLoginButton.vue
  src/composables/usePasskey.ts
  src/test/composables/usePasskey.test.ts
  src/views/ProfileView.vue
Labels: frontend, testing, ui

Improve tests further
  src/test/composables/usePasskey.test.ts
  src/test/services/passkeyService.test.ts
Labels: frontend, testing

Improve gaps and tests
  .env.example
  external_services/cloudflare-workers/webauthn-verifier/src/index.test.ts
  external_services/pocketbase/webauthn-hooks.pb.js
  external_services/pocketbase/webauthn-utils.js
  src/components/PasskeyList.vue
  src/locales/en.json
  src/locales/hi.json
  src/test/components/PasskeyList-validation.test.ts
Labels: frontend, testing, config, i18n, ui

GH code security recommendations
  external_services/pocketbase/webauthn-utils.js
  src/test/composables/usePasskey.test.ts
  src/test/integration/request-deduplication.test.ts
  src/test/services/passkeyService.test.ts
  src/test/services/webauthn-utils-sanitization.test.ts
Labels: frontend, testing

Fix build errors in modular PocketBase services
  src/services/pocketbase/services/account-transaction.service.ts
  src/services/pocketbase/services/delivery-item.service.ts
  src/services/pocketbase/services/delivery.service.ts
  src/services/pocketbase/services/payment-allocation.service.ts
  src/services/pocketbase/services/payment.service.ts
  src/services/pocketbase/services/service-booking.service.ts
  src/services/pocketbase/services/vendor-credit-note.service.ts
  src/services/pocketbase/services/vendor-return.service.ts
Labels: frontend

Add audit logs feature for tracking all data changes
  external_services/pocketbase/audit-logs.pb.js
  src/components/AppLayout.vue
  src/locales/en.json
  src/locales/hi.json
  src/router/index.ts
  src/services/pocketbase.ts
  src/views/AuditLogsView.vue
Labels: frontend, i18n, ui, auth

Add customer service impersonation feature with real-time approval workflow
  .env.example
  external_services/cloudflare/cf-worker-impersonation.js
  external_services/cloudflare/wrangler-impersonation.toml
  external_services/pocketbase/impersonation-hooks.pb.js
  external_services/pocketbase/impersonation_collections.json
  src/components/ImpersonationApprovalModal.vue
  src/components/ImpersonationBanner.vue
  src/components/ImpersonationDashboard.vue
  src/components/ImpersonationRequestModal.vue
  src/composables/useImpersonation.ts
  src/locales/en.json
  src/locales/hi.json
  src/services/impersonationService.ts
  src/services/pocketbase.ts
Labels: frontend, config, i18n, ui

Fix PocketBase hooks API and reorganize Cloudflare worker files
  external_services/cloudflare/impersonation-worker/index.js
  external_services/cloudflare/impersonation-worker/wrangler.toml
  external_services/pocketbase/impersonation-hooks.pb.js
Labels: none

Add comprehensive tests for impersonation feature
  package-lock.json
  src/test/components/ImpersonationApprovalModal.test.ts
  src/test/components/ImpersonationBanner.test.ts
  src/test/components/ImpersonationDashboard.test.ts
  src/test/components/ImpersonationRequestModal.test.ts
  src/test/composables/useImpersonation.test.ts
  src/test/services/impersonationService.test.ts
Labels: frontend, testing, config, dependencies

Align impersonation audit logs with PR 145 schema
  external_services/pocketbase/impersonation-hooks.pb.js
  external_services/pocketbase/impersonation_collections.json
  src/services/pocketbase.ts
Labels: frontend

Replace Qty and Rate columns with Notes in service bookings desktop view
  src/views/ServiceBookingsView.vue
Labels: frontend, ui

Update package-lock.json
  package-lock.json
Labels: config, dependencies
