Repository Site-Wise/app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, styling, testing, documentation, config, ci, dependencies, security, mobile, i18n, database, ui, auth, performance

.github/labeler.yml:

# Pull request labeler configuration
# See https://github.com/actions/labeler

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
      - 'src/**/*.ts'
      - 'src/**/*.js'
      - 'src/components/**/*'
      - 'src/views/**/*'
      - 'src/composables/**/*'

# Styling changes
styling:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.css'
      - 'tailwind.config.js'
      - 'postcss.config.js'

# Testing changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/test/**/*'
      - '**/*.test.ts'
      - '**/*.test.js'
      - 'vitest.config.ts'
      - 'src/test/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '.github/**/*.md'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.js'
      - '*.config.ts'
      - 'tsconfig*.json'
      - 'package.json'
      - 'package-lock.json'
      - '.env*'

# Build and CI changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'npm-shrinkwrap.json'

# Security related
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/workflows/security.yml'

# Mobile/PWA changes
mobile:
  - changed-files:
    - any-glob-to-any-file:
      - 'public/manifest.json'
      - 'public/sw.js'
      - 'src/composables/usePWA.ts'

# Internationalization
i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/locales/**/*'
      - 'src/composables/useI18n.ts'

# Database/Schema changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'pocketbase-schema.md'
      - 'pocketbase-api-rules.md'

# User Interface
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*'
      - 'src/views/**/*'

# Authentication
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/composables/useAuth.ts'
      - 'src/views/LoginView.vue'
      - 'src/router/index.ts'

# Performance
performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'vite.config.ts'
      - 'src/**/*.lazy.ts'

# Accessibility
accessibility:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
    - all-globs-to-all-files:
      - 'aria-*'
      - 'role='
      - 'tabindex'

Fix modal ESC key handling, remove export confirmation modal, align icons
  src/test/views/VendorDetailView.test.ts
  src/views/VendorDetailView.vue
Labels: frontend, testing, ui

Add Export All Ledgers button to VendorsView (#159)
  src/locales/en.json
  src/locales/hi.json
  src/views/VendorsView.vue
Labels: frontend, i18n, ui

Add export dropdown with ZIP file support for all vendor ledgers
  package-lock.json
  package.json
  src/test/views/VendorsView.test.ts
  src/views/VendorsView.vue
Labels: frontend, testing, config, dependencies, ui

Modularize ledger PDF generation into shared utility
  src/services/ledgerExportUtils.ts
  src/views/VendorDetailView.vue
  src/views/VendorsView.vue
Labels: frontend, ui

Consolidate all ledger export utilities (PDF, CSV, Tally)
  src/services/ledgerExportUtils.ts
  src/test/views/VendorDetailView.test.ts
  src/views/VendorDetailView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, ui

Fix jsPDF TypeScript error in addFooter function
  src/services/ledgerExportUtils.ts
Labels: frontend

Add tests for ledger export utilities
  src/test/services/ledgerExportUtils.test.ts
  src/test/views/VendorsView-exports.test.ts
Labels: frontend, testing

Add ledger filtering with date range and opening balance (#158)
  package-lock.json
  package.json
  src/locales/en.json
  src/locales/hi.json
  src/services/ledgerExportUtils.ts
  src/test/services/ledgerExportUtils.test.ts
  src/test/views/VendorDetailView-logic.test.ts
  src/test/views/VendorDetailView.test.ts
  src/test/views/VendorsView-exports.test.ts
  src/test/views/VendorsView.test.ts
  src/views/VendorDetailView.vue
  src/views/VendorsView.vue
Labels: frontend, testing, config, dependencies, i18n, ui

Add audit logs feature for tracking all data changes
  external_services/pocketbase/audit-logs.pb.js
  src/components/AppLayout.vue
  src/locales/en.json
  src/locales/hi.json
  src/router/index.ts
  src/services/pocketbase.ts
  src/views/AuditLogsView.vue
Labels: frontend, i18n, ui, auth

Fix build errors in modular PocketBase services
  src/services/pocketbase/services/account-transaction.service.ts
  src/services/pocketbase/services/delivery-item.service.ts
  src/services/pocketbase/services/delivery.service.ts
  src/services/pocketbase/services/payment-allocation.service.ts
  src/services/pocketbase/services/payment.service.ts
  src/services/pocketbase/services/service-booking.service.ts
  src/services/pocketbase/services/vendor-credit-note.service.ts
  src/services/pocketbase/services/vendor-return.service.ts
Labels: frontend

Add customer service impersonation feature with real-time approval workflow
  .env.example
  external_services/cloudflare/cf-worker-impersonation.js
  external_services/cloudflare/wrangler-impersonation.toml
  external_services/pocketbase/impersonation-hooks.pb.js
  external_services/pocketbase/impersonation_collections.json
  src/components/ImpersonationApprovalModal.vue
  src/components/ImpersonationBanner.vue
  src/components/ImpersonationDashboard.vue
  src/components/ImpersonationRequestModal.vue
  src/composables/useImpersonation.ts
  src/locales/en.json
  src/locales/hi.json
  src/services/impersonationService.ts
  src/services/pocketbase.ts
Labels: frontend, config, i18n, ui

Fix PocketBase hooks API and reorganize Cloudflare worker files
  external_services/cloudflare/impersonation-worker/index.js
  external_services/cloudflare/impersonation-worker/wrangler.toml
  external_services/pocketbase/impersonation-hooks.pb.js
Labels: none

Align impersonation audit logs with PR 145 schema
  external_services/pocketbase/impersonation-hooks.pb.js
  external_services/pocketbase/impersonation_collections.json
  src/services/pocketbase.ts
Labels: frontend

Add comprehensive tests for impersonation feature
  src/test/components/ImpersonationApprovalModal.test.ts
  src/test/components/ImpersonationBanner.test.ts
  src/test/components/ImpersonationDashboard.test.ts
  src/test/components/ImpersonationRequestModal.test.ts
  src/test/composables/useImpersonation.test.ts
  src/test/services/impersonationService.test.ts
Labels: frontend, testing

Fix mobile bottom menu settling issue and bump version to 0.15.1
  package.json
  src/components/BottomNavBar.vue
  src/style.css
Labels: frontend, styling, config, dependencies, ui

Moved the hooks to directory for clarity
  external_services/pocketbase/README.md
  external_services/pocketbase/pb_hooks/README.md
  external_services/pocketbase/pb_hooks/create_user.pb.js
  external_services/pocketbase/pb_hooks/items.json
  external_services/pocketbase/pb_hooks/login.pb.js
  external_services/pocketbase/pb_hooks/process_invitations_on_acceptance.pb.js
  external_services/pocketbase/pb_hooks/services.json
  external_services/pocketbase/pb_hooks/site-management-hooks.pb.js
  external_services/pocketbase/pb_hooks/utils.js
  external_services/pocketbase/pocketbase-api-rules.md
  external_services/pocketbase/pocketbase-schema.md
Labels: none

Added schema and updated the README files
  external_services/pocketbase/README.md
  external_services/pocketbase/pb_hooks/README.md
  external_services/pocketbase/pb_schema.json
Labels: none

Fix align pocketbase directory (#161)
  external_services/pocketbase/HOOKS_README.md
  external_services/pocketbase/README.md
  external_services/pocketbase/pb_hooks/README.md
  external_services/pocketbase/pb_hooks/create_user.pb.js
  external_services/pocketbase/pb_hooks/items.json
  external_services/pocketbase/pb_hooks/login.pb.js
  external_services/pocketbase/pb_hooks/process_invitations_on_acceptance.pb.js
  external_services/pocketbase/pb_hooks/services.json
  external_services/pocketbase/pb_hooks/site-management-hooks.pb.js
  external_services/pocketbase/pb_hooks/utils.js
  external_services/pocketbase/pb_schema.json
  external_services/pocketbase/pocketbase-api-rules.md
  external_services/pocketbase/pocketbase-schema.md
Labels: none

Fix phone validation and add email verification to signup
  src/composables/useAuth.ts
  src/locales/en.json
  src/locales/hi.json
  src/views/LoginView.vue
Labels: frontend, i18n, ui, auth

Add automatic usage tracking via PocketBase hooks
  external_services/pocketbase/pb_hooks/usage-tracking-hooks.pb.js
  external_services/pocketbase/pb_hooks/utils.js
  external_services/pocketbase/pb_schema.json
  src/stores/subscription.ts
Labels: frontend

Fix mobile bottom menu settling issue and bump version to 0.15.1 (#160)
  package.json
  src/components/BottomNavBar.vue
  src/style.css
Labels: frontend, styling, config, dependencies, ui

Improve vendor/service/item box UX: remove mobile three-dot menu, add Edit/Delete to detail views
  src/locales/en.json
  src/locales/hi.json
  src/views/ItemDetailView.vue
  src/views/ItemsView.vue
  src/views/ServiceDetailView.vue
  src/views/ServicesView.vue
  src/views/VendorDetailView.vue
  src/views/VendorsView.vue
Labels: frontend, i18n, ui

Fix ledger modal mobile UX: reposition close button and improve date inputs
  package-lock.json
  src/views/VendorDetailView.vue
Labels: frontend, config, dependencies, ui

Add Tools section with construction calculators
  src/components/AppLayout.vue
  src/components/BottomNavBar.vue
  src/composables/useBrickCalculator.ts
  src/composables/useConcreteCalculator.ts
  src/composables/usePlasterCalculator.ts
  src/composables/useRebarCalculator.ts
  src/locales/en.json
  src/locales/hi.json
  src/router/index.ts
  src/views/ToolsView.vue
Labels: frontend, i18n, ui, auth

Update package-lock.json
  package-lock.json
Labels: config, dependencies

Add comprehensive tests for Tools section calculators
  src/test/composables/useBrickCalculator.test.ts
  src/test/composables/useConcreteCalculator.test.ts
  src/test/composables/usePlasterCalculator.test.ts
  src/test/composables/useRebarCalculator.test.ts
  src/test/views/ToolsView.test.ts
Labels: frontend, testing

Add router test coverage for Tools route
  src/test/router/index.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 12655: Unused variable, import, function or class
  src/test/views/ToolsView.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 12656: Unused variable, import, function or class
  src/test/views/ToolsView.test.ts
Labels: frontend, testing

Update npm dependencies to latest versions
  package-lock.json
  package.json
Labels: config, dependencies

Fix npm security vulnerabilities
  package-lock.json
Labels: config, dependencies

Add Tools section with construction calculators (#173)
  package-lock.json
  package.json
  src/components/AppLayout.vue
  src/components/BottomNavBar.vue
  src/composables/useBrickCalculator.ts
  src/composables/useConcreteCalculator.ts
  src/composables/usePlasterCalculator.ts
  src/composables/useRebarCalculator.ts
  src/locales/en.json
  src/locales/hi.json
  src/router/index.ts
  src/test/composables/useBrickCalculator.test.ts
  src/test/composables/useConcreteCalculator.test.ts
  src/test/composables/usePlasterCalculator.test.ts
  src/test/composables/useRebarCalculator.test.ts
  src/test/router/index.test.ts
  src/test/views/ToolsView.test.ts
  src/views/ToolsView.vue
Labels: frontend, testing, config, dependencies, i18n, ui, auth

Add new user onboarding prompts for dashboard
  src/components/NewUserOnboarding.vue
  src/locales/en.json
  src/locales/hi.json
  src/views/DashboardView.vue
Labels: frontend, i18n, ui

Align url_handlers with PWA manifest for app.sitewise.in
  nginx.conf
  public/.well-known/web-app-origin-association
  vite.config.ts
Labels: config, performance

Fix manifest url_handlers to use handle_links and scope_extensions
  vite.config.ts
Labels: config, performance

Fix onboarding buttons to open modals directly
  src/components/NewUserOnboarding.vue
Labels: frontend, ui

Align url_handlers with PWA manifest for app.sitewise.in (#174)
  nginx.conf
  public/.well-known/web-app-origin-association
  vite.config.ts
Labels: config, performance

Add test coverage for new user onboarding and bump to v0.16.0
  package.json
  src/test/components/NewUserOnboarding.test.ts
  src/test/views/DashboardView-onboarding.test.ts
Labels: frontend, testing, config, dependencies

Add new user onboarding guide to dashboard (#175)
  package.json
  src/components/NewUserOnboarding.vue
  src/locales/en.json
  src/locales/hi.json
  src/test/components/NewUserOnboarding.test.ts
  src/test/views/DashboardView-onboarding.test.ts
  src/views/DashboardView.vue
Labels: frontend, testing, config, dependencies, i18n, ui

Update dependencies: @tauri-apps/api 2.10.1, vue 3.5.28, happy-dom 20.5.3, @tauri-apps/cli 2.10.0, @types/node 25.2.2, @vitejs/plugin-vue 6.0.4
  package-lock.json
  package.json
Labels: config, dependencies
