Repository Site-Wise/app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, styling, testing, documentation, config, ci, dependencies, security, mobile, i18n, database, ui, auth, performance

.github/labeler.yml:

# Pull request labeler configuration
# See https://github.com/actions/labeler

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
      - 'src/**/*.ts'
      - 'src/**/*.js'
      - 'src/components/**/*'
      - 'src/views/**/*'
      - 'src/composables/**/*'

# Styling changes
styling:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.css'
      - 'tailwind.config.js'
      - 'postcss.config.js'

# Testing changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/test/**/*'
      - '**/*.test.ts'
      - '**/*.test.js'
      - 'vitest.config.ts'
      - 'src/test/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '.github/**/*.md'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.js'
      - '*.config.ts'
      - 'tsconfig*.json'
      - 'package.json'
      - 'package-lock.json'
      - '.env*'

# Build and CI changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'npm-shrinkwrap.json'

# Security related
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/workflows/security.yml'

# Mobile/PWA changes
mobile:
  - changed-files:
    - any-glob-to-any-file:
      - 'public/manifest.json'
      - 'public/sw.js'
      - 'src/composables/usePWA.ts'

# Internationalization
i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/locales/**/*'
      - 'src/composables/useI18n.ts'

# Database/Schema changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'pocketbase-schema.md'
      - 'pocketbase-api-rules.md'

# User Interface
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*'
      - 'src/views/**/*'

# Authentication
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/composables/useAuth.ts'
      - 'src/views/LoginView.vue'
      - 'src/router/index.ts'

# Performance
performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'vite.config.ts'
      - 'src/**/*.lazy.ts'

# Accessibility
accessibility:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
    - all-globs-to-all-files:
      - 'aria-*'
      - 'role='
      - 'tabindex'

Test fixes!
  src/test/components/FileUploadComponent.simple.test.ts
  src/test/components/FileUploadComponent.test.ts
  src/test/components/delivery/DeliveryItemRow.test.ts
  src/test/components/delivery/MultiItemDeliveryModal.simple.test.ts
  src/test/components/delivery/MultiItemDeliveryModal.test.ts
Labels: frontend, testing

Package updates
  .github/workflows/auto-update.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/stale.yml
  .github/workflows/tauri-build.yml
  package-lock.json
  package.json
Labels: config, ci, dependencies, security

Improve service booking
  src/components/TimeCalculatorModal.vue
  src/locales/en.json
  src/locales/hi.json
  src/test/components/TimeCalculatorModal.test.ts
  src/test/views/ServiceBookingsView-dates.test.ts
  src/views/ServiceBookingsView.vue
Labels: frontend, testing, i18n, ui

Bug fixes and updates
  .github/dependabot.yml
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/components/PaymentModal.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/services/pocketbase.ts
  src/test/components/delivery/MultiItemDeliveryModal.test.ts
  src/views/ServiceBookingsView.vue
Labels: frontend, testing, config, ci, dependencies, ui

Significant improvement to tests. More to come
  .github/dependabot.yml
  src/components/delivery/MultiItemDeliveryModal.vue
  src/test/components/returns/RefundModal-logic.test.ts
  src/test/components/returns/RefundModal.test.ts
  src/test/components/returns/ReturnDetailsModal-logic.test.ts
  src/test/components/returns/ReturnDetailsModal.test.ts
  src/test/components/returns/ReturnModal-logic.test.ts
  src/test/components/returns/ReturnModal.test.ts
  src/test/composables/useInvitations.test.ts
  src/test/composables/useKeyboardShortcuts.test.ts
  src/test/composables/useNativeNotifications.test.ts
  src/test/composables/useOnboarding-logic.test.ts
  src/test/composables/useSubscription-management.test.ts
  src/test/composables/useSubscription-razorpay.test.ts
  src/test/router/index.test.ts
  src/test/services/deliveryUtils.test.ts
  src/test/services/pocketbase-helpers.test.ts
  src/test/services/pocketbaseBatch.test.ts
  src/test/services/service-patterns.test.ts
  src/test/utils/onboardingTest.test.ts
  src/test/utils/pdfToImage.test.ts
  src/test/utils/pwa-test.test.ts
  src/test/utils/pwaTest.test.ts
  src/test/views/ItemDetailView.test.ts
  src/test/views/SiteSelectionView-logic.test.ts
  src/test/views/SubscriptionView.test.ts
  src/test/views/UserManagementView.test.ts
Labels: frontend, testing, ui

Add comprehensive test coverage for untested components and composables
  package-lock.json
  src/test/components/ItemCreateModal.test.ts
  src/test/composables/useKeyboardShortcut.test.ts
  src/test/composables/useModalState.test.ts
  src/test/composables/usePWAUpdate.test.ts
  src/test/composables/usePermissions.test.ts
Labels: frontend, testing, config, dependencies

Add comprehensive tests for useFeatureTourExample and subscription store
  src/test/composables/useFeatureTourExample.test.ts
  src/test/stores/subscription.test.ts
Labels: frontend, testing

Add comprehensive tests for PaymentsView and ServiceBookingsView logic
  src/test/views/PaymentsView.test.ts
  src/test/views/ServiceBookingsView.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 9105: Implicit operand conversion
  src/test/stores/subscription.test.ts
Labels: frontend, testing

Add comprehensive business logic tests for pocketbase services
  src/test/services/pocketbase-delivery-logic.test.ts
  src/test/services/pocketbase-payment-logic.test.ts
Labels: frontend, testing

Add comprehensive logic tests for MEDIUM priority views
  src/test/views/SubscriptionView-logic.test.ts
  src/test/views/UserManagementView-logic.test.ts
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 9107: Implicit operand conversion
  src/test/services/pocketbase-delivery-logic.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 9106: Unneeded defensive code
  src/test/stores/subscription.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 9109: Unused variable, import, function or class
  src/test/stores/subscription.test.ts
Labels: frontend, testing

Fix: Preserve existing photos when uploading new images to deliveries
  src/services/pocketbase.ts
Labels: frontend

Fix payment status display in delivery preview modal
  src/views/DeliveryView.vue
Labels: frontend, ui

Fix payment allocation bug in edit mode
  src/views/PaymentsView.vue
Labels: frontend, ui

Refactor pending payment indicator to use modal
  src/locales/en.json
  src/locales/hi.json
  src/test/views/PaymentsView-mobile.test.ts
  src/views/PaymentsView.vue
Labels: frontend, testing, i18n, ui

Add comprehensive tests for delivery preview payment status
  src/test/views/DeliveryView.test.ts
Labels: frontend, testing

Fix payment allocation bug using batch operations
  src/services/pocketbase.ts
  src/views/PaymentsView.vue
Labels: frontend, ui

Fix PDF to image conversion worker loading for pdfjs-dist v5
  public/assets/pdf.worker.min.mjs
  src/components/FileUploadComponent.vue
  src/utils/pdfToImage.ts
Labels: frontend, ui

Add test coverage for PDF worker loading logic
  src/test/components/FileUploadComponent.simple.test.ts
  src/test/utils/pdfToImage.test.ts
Labels: frontend, testing

Fix flaky relative time test by using fixed timestamp
  src/test/views/UserManagementView-logic.test.ts
Labels: frontend, testing

Remove unused getCurrentSiteId import
  src/views/PaymentsView.vue
Labels: frontend, ui

Fix TypeScript type for viewingDelivery
  src/views/DeliveryView.vue
Labels: frontend, ui

Fix: Prevent Enter key in vendor search from submitting payment form
  src/components/VendorSearchBox.vue
Labels: frontend, ui

Add .prevent modifier to all keyboard handlers in VendorSearchBox
  src/components/VendorSearchBox.vue
Labels: frontend, ui

feat: Auto-select most frequently used bank account in payment modal
  src/components/PaymentModal.vue
  src/test/components/PaymentModal.test.ts
Labels: frontend, testing, ui

Fix delivery modal bugs: vendor display and image preview
  src/components/FileUploadComponent.vue
  src/components/delivery/MultiItemDeliveryModal.vue
Labels: frontend, ui

Add tests for delivery modal bug fixes
  src/test/components/FileUploadComponent.test.ts
  src/test/components/delivery/MultiItemDeliveryModal.test.ts
Labels: frontend, testing

Fix timing issue in UserManagementView-logic test
  src/test/views/UserManagementView-logic.test.ts
Labels: frontend, testing

Add sorting functionality to Payments page
  src/services/pocketbase.ts
  src/views/PaymentsView.vue
Labels: frontend, ui

Add last price placeholder and fix item selector clear bug
  src/components/ItemSelector.vue
  src/components/delivery/DeliveryItemRow.vue
  src/services/pocketbase.ts
  src/test/components/ItemSelector-clearBug.test.ts
  src/test/components/delivery/DeliveryItemRow-lastPrice.test.ts
Labels: frontend, testing, ui

Potential fix for code scanning alert no. 9679: Comparison between inconvertible types
  src/test/components/delivery/DeliveryItemRow-lastPrice.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 9681: Unused variable, import, function or class
  src/test/components/ItemSelector-clearBug.test.ts
Labels: frontend, testing

Fix vendor search to include both name and contact_person fields
  src/components/VendorSearchBox.vue
  src/test/components/VendorSearchBox.test.ts
Labels: frontend, testing, ui

Potential fix for code scanning alert no. 9110: Unused variable, import, function or class
  src/test/components/FileUploadComponent.simple.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 10060: Unused variable, import, function or class
  src/test/views/UserManagementView-logic.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 9111: Unused variable, import, function or class
  src/test/components/FileUploadComponent.simple.test.ts
Labels: frontend, testing

Add comprehensive PocketBase service tests
  src/assets/legal/index.ts
  src/test/services/pocketbase-services-comprehensive.test.ts
Labels: frontend, testing
