Repository Site-Wise/app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, styling, testing, documentation, config, ci, dependencies, security, mobile, i18n, database, ui, auth, performance

.github/labeler.yml:

# Pull request labeler configuration
# See https://github.com/actions/labeler

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
      - 'src/**/*.ts'
      - 'src/**/*.js'
      - 'src/components/**/*'
      - 'src/views/**/*'
      - 'src/composables/**/*'

# Styling changes
styling:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.css'
      - 'tailwind.config.js'
      - 'postcss.config.js'

# Testing changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/test/**/*'
      - '**/*.test.ts'
      - '**/*.test.js'
      - 'vitest.config.ts'
      - 'src/test/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '.github/**/*.md'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.js'
      - '*.config.ts'
      - 'tsconfig*.json'
      - 'package.json'
      - 'package-lock.json'
      - '.env*'

# Build and CI changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'npm-shrinkwrap.json'

# Security related
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/workflows/security.yml'

# Mobile/PWA changes
mobile:
  - changed-files:
    - any-glob-to-any-file:
      - 'public/manifest.json'
      - 'public/sw.js'
      - 'src/composables/usePWA.ts'

# Internationalization
i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/locales/**/*'
      - 'src/composables/useI18n.ts'

# Database/Schema changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'pocketbase-schema.md'
      - 'pocketbase-api-rules.md'

# User Interface
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*'
      - 'src/views/**/*'

# Authentication
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/composables/useAuth.ts'
      - 'src/views/LoginView.vue'
      - 'src/router/index.ts'

# Performance
performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'vite.config.ts'
      - 'src/**/*.lazy.ts'

# Accessibility
accessibility:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.vue'
    - all-globs-to-all-files:
      - 'aria-*'
      - 'role='
      - 'tabindex'

Hide Qty and Rate columns on wider screens (#148)
  package-lock.json
  src/views/ServiceBookingsView.vue
Labels: frontend, config, dependencies, ui

Fix build errors and align tests with LoadingOverlay integration
  src/components/ItemCreateModal.vue
  src/components/PaymentModal.vue
  src/components/SiteDeleteModal.vue
  src/components/delivery/MultiItemDeliveryModal.vue
  src/test/views/AccountsView.test.ts
  src/views/ServicesView.vue
Labels: frontend, testing, ui

Fix LoadingOverlay z-index and add comprehensive tests
  src/components/LoadingOverlay.vue
  src/components/__tests__/LoadingOverlay.test.ts
Labels: frontend, testing, ui

Add polished animations to LoadingOverlay and expand test coverage
  src/components/LoadingOverlay.vue
  src/components/__tests__/LoadingOverlay.test.ts
Labels: frontend, testing, ui

Add comprehensive tests for LoadingOverlay integration pattern
  src/test/components/ItemCreateModal.test.ts
  src/test/components/LoadingOverlayIntegration.test.ts
  src/test/components/SiteDeleteModal.test.ts
Labels: frontend, testing

Remove redundant toast code and add LoadingOverlay integration tests
  src/components/PaymentModal.vue
  src/test/components/returns/RefundModal-logic.test.ts
  src/test/components/returns/ReturnModal-logic.test.ts
  src/views/ServicesView.vue
Labels: frontend, testing, ui

Add 'Per Kg' and 'Running ft' unit options to Services
  src/locales/en.json
  src/locales/hi.json
  src/views/ServicesView.vue
Labels: frontend, i18n, ui

Add 'Per Kg' and 'Running ft' unit options to Services (#151)
  src/locales/en.json
  src/locales/hi.json
  src/views/ServicesView.vue
Labels: frontend, i18n, ui

Fix return quantity display to show remaining returnable amount
  src/components/returns/ReturnModal.vue
Labels: frontend, ui

Add comprehensive test coverage for return quantity logic
  src/test/components/returns/ReturnModal-logic.test.ts
Labels: frontend, testing

Add integration tests for return quantity tracking
  src/test/components/returns/ReturnModal.test.ts
Labels: frontend, testing

Update dependencies to latest versions
  package-lock.json
  package.json
Labels: config, dependencies

Fix return quantity display after deductions (#154)
  package-lock.json
  package.json
  src/components/returns/ReturnModal.vue
  src/test/components/returns/ReturnModal-logic.test.ts
  src/test/components/returns/ReturnModal.test.ts
Labels: frontend, testing, config, dependencies, ui

Add ledger filtering with date range and opening balance
  src/locales/en.json
  src/locales/hi.json
  src/views/VendorDetailView.vue
Labels: frontend, i18n, ui

Add export date range modal for vendor ledger filtering
  src/locales/en.json
  src/locales/hi.json
  src/test/views/VendorDetailView-logic.test.ts
  src/views/VendorDetailView.vue
Labels: frontend, testing, i18n, ui

Potential fix for code scanning alert no. 12192: Unused variable, import, function or class
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 12191: Unused variable, import, function or class
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 12196: Useless comparison test
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 12190: Unused variable, import, function or class
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 12195: Useless comparison test
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Improve test coverage for VendorDetailView export functionality
  src/test/views/VendorDetailView-logic.test.ts
  src/test/views/VendorDetailView.test.ts
Labels: frontend, testing

Add UX improvements to export modal
  src/test/views/VendorDetailView.test.ts
  src/views/VendorDetailView.vue
Labels: frontend, testing, ui

Potential fix for code scanning alert no. 12202: Unused variable, import, function or class
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 12208: Useless comparison test
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 12207: Useless comparison test
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 12206: Useless comparison test
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 12205: Useless comparison test
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 12204: Useless comparison test
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 12203: Useless comparison test
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 12194: Useless comparison test
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Improve test coverage for VendorDetailView export functionality
  src/test/views/VendorDetailView-logic.test.ts
  src/test/views/VendorDetailView.test.ts
Labels: frontend, testing

Add comprehensive test coverage for VendorDetailView
  src/test/views/VendorDetailView-logic.test.ts
  src/test/views/VendorDetailView.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 12193: Useless comparison test
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 12201: Unused variable, import, function or class
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Potential fix for code scanning alert no. 12224: Unused variable, import, function or class
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Fix missing openingBalance variable declaration in test
  src/test/views/VendorDetailView-logic.test.ts
Labels: frontend, testing

Move ledger table into modal with integrated export options
  src/locales/en.json
  src/locales/hi.json
  src/test/views/VendorDetailView.test.ts
  src/views/VendorDetailView.vue
Labels: frontend, testing, i18n, ui

Move ledger date range filter into modal for better UX
  src/locales/en.json
  src/locales/hi.json
  src/test/views/VendorDetailView.test.ts
  src/views/VendorDetailView.vue
Labels: frontend, testing, i18n, ui

Add mobile rotation hint and clickable ledger entries with detail modals
  src/locales/en.json
  src/locales/hi.json
  src/views/VendorDetailView.vue
Labels: frontend, i18n, ui

Add Export All Ledgers button to VendorsView
  src/locales/en.json
  src/locales/hi.json
  src/views/VendorsView.vue
Labels: frontend, i18n, ui
